<div>
    <div class="modal-header">
        <h4 class="modal-title">Settings of {{aliases.alias}}</h4>
        <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
    </div>

    <div class="modal-body">
        <form role="form" name="myForm">
            <div class="row">
                <h3 class="setting__main-title">Alias Settings</h3>
                <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
                <div class="col-lg-4 col-sm-4 col_margin-r">
                    <div class="form-group">
                        <label class="label-sett" for="aliasesName">Alias</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="aliasesName" ng-model="aliases.alias" required="">
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="aliasesIP">IP</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="aliasesIp" ng-model="aliases.ip" required="">
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="aliasesGroup">GID</label>
	                <input type="number" min="1" step="1" pattern="\d*" class="form-control" id="aliasesGid"  ng-model="aliases.gid">
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label class="label-sett" for="aliasesPort">Port</label>
                        <input type="number" max="65356" step="1" class="form-control form-control-settings" id="aliasesPort" ng-model="aliases.port" required="">
                    </div>

		    <div class="form-group">
			<label for="legend" class="checkbox-label">Status</label>
		                <input type="checkbox" id="aliasesStatus" name="aliasesStatus" ng-model="aliases.status">
                		<span><i class="fa fa-check"></i></span>
		    </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
    <button ng-click="save()" ng-disabled="myForm.$invalid || !myForm.$dirty" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
</div>
</form>
</div>
