<!-- <div class="modal-header">
  <h4 class="modal-title">Edit Profile</h4>
</div> -->
<nav>
<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
    <div class="row">
      <h3 class="setting__main-title">Aliases</h3>
	<p>Aliases are internal NAME resolvers for IP:PORT pairs used for Visualization. To group multiple pairs together, assign the same ALIAS.</p>
      <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
			<div class="row nd-row-bord">
					<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped ng-isolate-scope">
					  <thead>
						    <tr>
						        <th width="5%" st-sort-default="true" st-sort="id">Id</th>
						        <th width="20%" st-sort="alias">Alias</th>
						        <th width="10%" st-sort="ip">IP</th>
						        <th width="10%" st-sort="port">Port</th>
						        <th width="5%" st-sort="gid">GID</th>
						        <th width="10%" st-sort="expire">Created</th>
						        <th width="15%" st-sort="active">Status</th>
							<th width="10%">Action</th>
						    </tr>
						      <tr>
                                                        <th colspan="5"><input st-search="" class="form-control" placeholder="aliases search ..." type="text"/></th>
                                                     </tr>
					    </thead>
					    <tbody ng-show="!dataLoading">
						    <tr ng-repeat="row in displayedCollection">
						        <td width="5%"><a ng-click="editAlias(row,$event)">{{row.id}}</a></td>
						        <td width="20%" >{{row.alias}}</td>
						        <td width="10%">{{row.ip}}</td>
						        <td width="10%">{{row.port}}</td>
						        <td width="5%">{{row.gid}}</td>
						        <td width="10%">{{row.created | date:'dd-MM-yyyy hh:mm:ss'}}</td>
						        <td width="15%">{{row.status}}</td>
							<td width="10%">
								<button type="button" ng-click="editAlias(row,$event)" class="btn-sm btn-info">
									<i class="glyphicon glyphicon-cog"></i>
								</button>
								<button type="button" ng-click="deleteAlias(row)" class="btn-sm btn-danger">
									<i class="glyphicon glyphicon-remove-circle"></i>
								</button>
							</td>
						    </tr>
					   </tbody>
					   <tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
								</td>
							</tr>
					   </tfoot>
					</table>					
			</div>            
    </div>
   </form>
</div>
<div style="float:left; margin-left:40px;" class="modal-footer">
  <button type="button" ng-click="addAlias();" class="btn btn-primary " style="float:right" ng-disabled="false">
            <i class="fa fa-plus"></i> Add
  </button> 
</div>
</nav>
