<div>
    <div class="modal-header">
        <h4 class="modal-title">Settings of {{groupip.name}}</h4>
        <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
    </div>

    <div class="modal-body">
        <form role="form" name="myForm">
            <div class="row">
                <h3 class="setting__main-title">Main Settings</h3>
                <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
                <div class="col-lg-4 col-sm-4 col_margin-r">
                    <div class="form-group">
                        <label class="label-sett" for="groupipName">Name</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="groupipName" ng-model="groupip.name" required="">
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="groupipIP">IP</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="groupipIp" ng-model="groupip.ip" required="">
                    </div>
                    
                    <div class="form-group">
                        <label class="label-sett" for="groupipGroup">Bits</label>
	                <input type="number" min="1" step="1" pattern="\d*" class="form-control" id="groupipBits" ng-model="groupip.bits">
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="groupipGroup">Port</label>
	                <input type="number" min="1" step="1" pattern="\d*" class="form-control" id="groupipGid" ng-model="groupip.port">
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">
		    
		    <div class="form-group">
			<label for="legend" class="checkbox-label">Active</label>
		                <input type="checkbox" id="groupipActive" name="groupipActive" ng-model="groupip.active">
                		<span><i class="fa fa-check"></i></span>
		    </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
    <button ng-click="save()" ng-disabled="myForm.$invalid || !myForm.$dirty" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
</div>
</form>
</div>