<div>
    <div class="modal-header">
        <h4 class="modal-title">Settings of {{interception.uuid}}</h4>
        <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
    </div>

    <div class="modal-body">
        <form role="form" name="myForm">
            <div class="row">
                <h3 class="setting__main-title">Main Settings</h3>
                <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
                <div class="col-lg-4 col-sm-4 col_margin-r">
                    <div class="form-group">
                        <label class="label-sett" for="interceptionName">Search callee</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="interceptionSearchCalle" ng-model="interception.search_callee" >
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="interceptionIP">Search caller</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="interceptionSearchCaller" ng-model="interception.search_caller" >
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="interceptionSearchIP">Search IP</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="interceptionIp" ng-model="interception.search_ip" >
                    </div>

                    <div class="form-group">
                        <label class="label-sett" for="interceptionDescription">Description</label>
                        <input type="text" ng-readonly="false" class="form-control form-control-settings" id="interceptionDescription" ng-model="interception.description" >
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">

		    <div class="form-group">
		    	<label class="input-label" for="interceptionStart">Start time</label>
                        <div class="input-group input-group--date-picker">
                                	<input id="interceptionExpire" type="text" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="interception.ts_start" is-open="modelDateP.openedFromdate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <button class="calendar-btn" ng-click="openCalendar($event, 'openedFromdate')"  >
                                        	<i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
			</div>
	            </div>

		    <div class="form-group">
		    	<label class="input-label" for="interceptionStop">Stop time</label>
                        <div class="input-group input-group--date-picker">
                                	<input id="interceptionExpire" type="text" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="interception.ts_stop" is-open="modelDateP.openedTodate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <button class="calendar-btn" ng-click="openCalendar($event, 'openedTodate')"  >
                                        	<i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
			</div>
	            </div>
		    
		    <div class="form-group">
			<label for="legend" class="checkbox-label">Delete</label>
		                <input type="checkbox" id="interceptionDeleted" name="interceptionDeleted" ng-model="interception.deleted">
                		<span><i class="fa fa-check"></i></span>
		    </div>
            </div>
    </div>
    <div class="row">
        <h3 class="setting__main-title">Extra:</h3>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-4 col-sm-4 col_margin-r">
            <div class="form-group">
                <label class="label-sett" for="interceptionLimitDaily">LIID:</label>
                <input type="number" min="0" step="1" pattern="\d*" class="form-control" id="interceptionLiid"  ng-model="interception.LIID" placeholder="Enter LIID">
            </div>

	    <div class="form-group">
            	<label class="label-sett" for="interceptionGroup">GID</label>
	        <input type="number" min="1" step="1" pattern="\d*" class="form-control" id="interceptionGid"  ng-model="interception.gid">
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
	    <div class="form-group">
                <label class="label-sett" for="interceptionNumber">Number:</label>
		<input type="text" ng-readonly="false" class="form-control form-control-settings" id="interceptionNumber" ng-model="interception.number" >
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
    <button ng-click="save()" ng-disabled="myForm.$invalid || !myForm.$dirty" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
</div>
</form>
</div>