<!-- <div class="modal-header">
  <h4 class="modal-title">Edit Profile</h4>
</div> -->
<nav>
<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
    <div class="row">
      <h3 class="setting__main-title">Transaction Correlation Script</h3>
      <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
			<div class="row nd-row-bord">
				<div class="editor" ui-ace="{ mode: 'javascript', theme: 'dreamweaver',onLoad:load }" ng-model="code"></div>
			</div>            
    </div>
   </form>
</div>
<div style="float:left; margin-left:40px;" class="modal-footer">

  <span>        
	  <button type="button" ng-click="uploadScript();" class="btn btn-primary " style="float:right" ng-disabled="false">
            <i class="fa fa-upload"></i> Upload
	  </button>   
  </span>
  
  <span>      
	  <button type="button" ng-click="reloadScript();" class="btn btn-danger " style="float:right" ng-disabled="false">
            <i class="fa fa-refresh"></i> Activate Config
	  </button>   
  </span>
</div>
</nav>
