<div class="col-md-4 col-md-offset-4 login-form">
	<div class="homer-logo"></div>
	<br/>
	<div class="col-md-8 col-md-offset-2">
		<form name="form" ng-submit="form.$valid && $ctrl.login()" novalidate>
		  <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
		    <input type="text" name="username" class="form-control" ng-model="$ctrl.username" required placeholder="Username" auto-fill-sync/>
		    <div ng-show="form.$submitted && form.username.$error" class="help-block">
		     	<div class="alert alert-info" style="margin-right: 0!important;" ng-show="!$ctrl.username">Username is required</div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
		    <input type="password" name="password" class="form-control" ng-model="$ctrl.password" required placeholder="Password" auto-fill-sync/>
		    <div ng-show="form.$submitted && form.password.$error" class="help-block">
		    	<div class="alert alert-info" style="margin-right: 0!important;" ng-show="!$ctrl.password">Password is required</div>
		    </div>
		  </div>
		  <div class="form-group">
		  	<button ng-disabled="$ctrl.loading" class="btn btn-primary center-block">Login</button>
		  </div>
		  <div ng-if="$ctrl.error" class="alert alert-danger" style="margin-right: 0!important;">{{$ctrl.error}}</div>
		</form>
	</div>
</div>
