<!-- INCLUDE: GRAPH IP TAB -->
<div id="frame-{{::$id}}" ng-hide="!$ctrl.enableGraph" style="margin-top:8px;min-width:100%;min-height:100%;background:#fff;">
  <nvd3
    style="width:100% !important;height:100% !important;min-height:600px;"
    id="{{key}}"
    options="$ctrl.LiveGraph.options"
    data="$ctrl.LiveGraph.data"
    config="$ctrl.configD3"
    events="$ctrl.events"
    api="$ctrl.apiD3"
    on-ready="$ctrl.callbackD3">
  </nvd3>
  <center>
    <div class="btn-group btn-group-justified">
      <span class="btn" style="background:{{ getColor(item.name) }}; font-size: 12px;color: #fff;border-radius:15px;" ng-repeat="item in $ctrl.LiveGraph.data.nodes">
      {{ item.name }}
      </span>
    </div>
</div>
</center>
</div>
