<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="$ctrl.menu.isOpen">
  <a href="#" class="hepic2-navbar-button" uib-dropdown-toggle>Panels: {{$ctrl.menu.title}}</a>
  <ul class="dropdown-menu dropdown-content" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem">
      <input type="search" ng-model="q" placeholder="filter dashboards ..." aria-label="filter dashboards" />
    </li>
    <li role="menuitem" ng-repeat="dashboard in $ctrl.dashboards | filter:q">
      <a ng-click="$ctrl.go(dashboard)">
	<i class="fa fa-fw fa-slideshare" ng-show="!!dashboard.shared"> &nbsp;</i>
	<i class="fa fw-fw fa-user" ng-hide="!!dashboard.shared"> &nbsp;</i>
	{{dashboard.name}}
      </a>
    </li>
    <li role="menuitem">
      <a ng-click="$ctrl.add()">+ Add New Dashboard</a>
    </li>
  </ul>
</div>
