 <div class="html-widget-settings">
    <form name="_form" class="form-horizontal" ng-submit="$ctrl.submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
            <h3>Settings</h3>
        </div> <!-- END modal-header -->

        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Title</label>
                <div class="col-lg-9 col-md-9">
                    <input name="name" type="text" ng-model="$ctrl.widget.title" class="form-control" />
                </div>
            </div> <!-- END Title -->

            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Content</label>
                <div class="col-lg-9 col-md-9">
                    <textarea rows="4" name="content" type="text" ng-model="$ctrl.widget.content" class="form-control" />
                </div>
            </div> <!-- END Content -->


        </div> <!-- END modal-body-->

        <div class="modal-footer">
            <button ng-click="$ctrl.dismiss()" class="btn btn-lg"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div> <!-- END modal-footer -->
    </form>
</div>
