<header id="header" class="header">
  <nav class="navbar navbar-default hepic2-navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <div class="hepic2-navbar-logo">hepic.</div>
        </a> <!-- END logo -->
      </div>
  
      <div class="navbar-collapse collapse" uib-collapse="$ctrl.isCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="hepic2-navbar-icon" href="#"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul> <!-- END sign out -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-group" uib-dropdown is-open="$ctrl.status.isopen">
              <a href="#" class="hepic2-navbar-button" uib-dropdown-toggle>Panels: {{$ctrl.status.activeDashboardName}}</a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-click="$event.stopPropagation()">
                  <input type="search" ng-model="q" placeholder="filter dashboards..." aria-label="filter dashboards" />
                </li>
                <li role="menuitem" ng-repeat="dash in $ctrl.dashboards | filter:q">
<!--
                  <a ui-sref="dashboard({ boardID:'{{dash.href}}'})">{{dash.name}}</a>
-->
                  <a ng-click="$ctrl.goDashboard(dash)">{{dash.name}}</a>
                </li>
                <li role="menuitem">
                  <a ng-click="$ctrl.addDashboard();">+ Add New Dashboard</a>
                </li>
              </ul>
            </div>
          </li>
        </ul> <!-- END list of dashboards -->
      </div>
    </div>
  </nav>
</header>
