body, html {
	font-family: Arial;
	font-size: 0;
/*	font-size: 16px;*/
}
* {
	margin: 0;
	border: 0;
}
.wr-info-text, .wr-info__rectangle {
	display: inline-block;
	vertical-align: top;
}
.wr-info-text {
	font-weight: 600;
	vertical-align: 10px;
	text-align: right;
	margin-right: 12px;
	margin-left: 12px;
/*	width: calc(100%);*/
	margin-top: 5px;
}
.wr-info-text_left {
	text-align: left;
}
.info-text {
	font-size: 14px;
	color: #494949;
}
.info-text-port {
	font-size: 12px;
	color: #494949;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.wr-call-flow {
	padding: 25px 8px 50px 8px;
/*	position: relative;*/
}
.info__rectangle {
	width: 50px;
	height: 15px;
	background-color: #3a89e6;
	margin-bottom: 3px;
}
.info__rectangle_small {
	width: 25px;
	height: 5px;
	background-color: #fff;
	margin-top: 5px;
	margin-left: 4px;
	display: inline-block;
	float: left;
}
.info__rectangle_green {
	background-color: #1ec27c;
}
.info-rectangle_yellow {
	background-color: #E6973A;
}
.info-rectangle_pink {
	background-color: #C21E93;
}
.info__circle {
	width: 5px;
	height: 5px;
	background-color: #fff;
	display: inline-block;
	float: right;
	border-radius: 50%;
	margin-right: 4px;
	margin-top: 5px;
}
.wr-info {
	display: flex;
	justify-content: space-between;
	height: 400px;
	margin-bottom: -480px;
	padding-bottom: 120px;
}
.wr-info-col-3 {
	min-width: 305px;
	width: 100%;
	display: flex;
	overflow-x: auto;
/*	padding-bottom: 50px;*/

}
.wr-info-col-3:not(:last-child) {
	border-right: 1px dotted #979797;
	margin-right: 10px;
}

.info {
	display: inline-flex;
/*	height: 100px;*/
	position: relative;
	right: 21px;
}
.wr-table-call_icons tr td:first-child .info {
	right: 8px;
}
.wr-table-call_icons tr td:last-child .info:last-child {
	right: 5px;
}
/*.info_caller {
	width: 260px;
}*/
.wr-info-col-3:last-child {
	justify-content: flex-end;
}
.calls {
	max-height: 1320px;
	overflow-y: auto;
	overflow-x: hidden;
}
.call {
	margin-bottom: 20px;
	position: relative;
	margin: 5px;
}
.wr-call .call:not(:last-child) {
    margin-right: 11px;
}
.call_caller {
	text-align: right;
	border-bottom: 2px solid ;
}
.call_caller:before {
	content: "";
	border: 7px solid transparent;
	border-right: 14px solid ;
	position: absolute;
	left: -8px;
	bottom: -7.5px;
}
.call_recipient {
	border-bottom: 2px solid ;
	margin: 5px;
}
.call_recipient:before {
	content: "";
	border: 7px solid transparent;
	border-left: 14px solid ;
	position: absolute;
	right: -8px;
	bottom: -7.5px;
}
.call_pink {
	border-bottom: 2px solid #C21E93;
}
.call_pink:before {
	border-left: 14px solid #C21E93;
}
.call_yellow {
	border-bottom: 2px solid #E6973A;
}
.call_yellow:before {
	border-left: 14px solid #E6973A;
}
.call_left-arrow:before {
	border: 7px solid transparent;
	border-right-width: 14px;
	border-right-style: solid;
	border-right-color: #E6973A;
	left: -8px;
	right: auto;
	bottom: -7.5px;
}
.call_right-arrow:before {
	border: 7px solid transparent;
	border-left-width: 14px;
	border-left-style: solid;
	border-left-color: #E6973A;
	left: auto;
	right: -8px;
	bottom: -7.5px;
}
.call_right-arrow-green:before {
	border-left-color: #1ec27c;
}
.call_left-arrow-pink:before  {
	border-right-color: #C21E93;
}
.call_left-arrow-yellow:before  {
	border-right-color: #E6973A;
}
.call_left-arrow-blue:before  {
	border-right-color: #3a89e6;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.call_text {
	font-size: 14px;
	font-weight: 600;
	color: #24465f;
}
.call_text-date {
	font-size: 12px;
	color: #7e7e7e;
}
.call_text-mini {
	font-size: 10px;
	color: #24465f;
}
.call-id {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	float: right;
	color: #3a89e6;
}
.call_coll-3 {
	width: 100%;
	display: inline-block;
}
.wr-call {
	display: flex;
}
.wr-table-call {
	width: 100%;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
}
.wr-table-call tr td {
	text-align: left;
	min-width: 200px;
}
.wr-table-call tr:first-child td {
	text-align: left;
}

.wr-table-call tr {
	display: table-row;
}
.wr-table-call tr:first-child td .info.info_gateway {
	padding-top: 15px;
	padding-left: 10px;
}
.wr-table-call tr:first-child td:first-child {
	text-align: left;
}
.wr-table-call tr:first-child td:last-child {
	text-align: left;
/*	padding-top: 15px;*/
}
#cflowsvg.wr-table-call thead tr:first-child td:after {
	content: "";
	width: 100%;
	height: 100000px;
	border-right: 1px dotted #979797;
	display: inline-block;
	position: relative;
	margin-bottom: -100000px;
}
#cflowsvg.wr-table-call thead tr:first-child td:first-child:after {
	border-left: 1px dotted #979797;
}
.wr-table-call tr:first-child td:last-child .info:first-child {
	float: left;
}
.wr-table-call tr:first-child td:last-child .info:last-child {
	float: right;
}
.wr-table-call tr:first-child td:last-child .info {
	display: inline-block;
}
.wr-table-call_icons {
	margin-bottom: -2px;
}

.wr-wr-cflowsvg {
	/*padding-top: 45px;*/
	height: 100%;
/*	position: relative;*/
}
.wr-cflowsvg {
	height: 100%;
/*	overflow: auto;*/
	overflow-x: hidden;
}
/*.nd-homer-modal-body .modal-body-buttons .tab-content .tab-pane {
	overflow: hidden !important;
}*/
.wr-table-call.wr-table-call_icons {
	margin-bottom: -45.5px;
	background: #fff;
	position: relative;
	z-index: 100;
	width: calc(100% - 5px);
}
.wr-table-call.wr-table-call_icons tr td:last-child .info {
	width: 60%;
	display: flex;
}
.wr-table-call.wr-table-call_icons tr td:last-child .info:last-child {
	direction: rtl;
	width: 40%;
}
.wr-table-call.wr-table-call_icons tr td:last-child .info  .wr-info-text {
	overflow: hidden;
}
.multi-select  .fa-angle-down.select-ico {
	top: 19px;
}
.multi-select .ui-select-match-item.btn.btn-default.btn-xs {
	display: inline-block;
	width: auto;
	padding-left: 3px;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match span.close {
	line-height: 27px;
	margin-right: 3px;
}
.ui-select-match-item.btn.btn-default.btn-xs {
	border: 1px solid #CCCCCC;
	margin-left: 3px;
	margin-bottom: 0;
	margin-right: 0;
}
.ui-select-match-item.btn.btn-default.btn-xs:active {
	background: inherit;
	border: 1px solid #CCCCCC;
	color: inherit;
}
.ui-select-match-item.btn.btn-default.btn-xs:active {
	background: inherit;
	border: 1px solid #CCCCCC;
	color: inherit;
}
.ui-select-match-item.btn.btn-default.btn-xs:focus {
	background: inherit;
	border: 1px solid #CCCCCC;
	color: inherit;
}
.ui-select-match-item.btn.btn-default.btn-xs:visited {
	background: inherit;
	border: 1px solid #CCCCCC;
	color: inherit;
}
.ui-select-match-item.btn.btn-default.btn-xs {
	background: inherit;
	border: 1px solid #CCCCCC;
	color: inherit;
}
