<!-- INCLUDE: WSS RTC TAB -->
								
			<div id="no-reports" ng-hide="enableRtcReport" class="alert alert-warning alert-dismissible" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><img src="/img/Close.svg" alt=""></button>
				  <strong>Oops!</strong> No RTC available for this session
			</div>
			<div id="rtc-root" ng-if="enableRtcReport" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">				
				
				<p>RTC Session from {{ rtcreport[0].source_ip }}:{{rtcreport[0].source_port}}</p>
				  <div class="form-group">
					<input type="text" ng-model="rtcsearch" class="form-control" placeholder="Filter Data" style="margin-left:15px;width:98%;border-radius: 5px !important;" />
				  </div>
				</p>
				
				<!-- mermaid placeholder -->

					<div ng-repeat="rtc in rtcreport  | filter :{msg:rtcsearch}" >
						<!-- <div class="alert alert-info" role="alert" style="margin-bottom:5px;">{{rtc.msg}}</div> -->
						<div ng-class-odd="(rtc.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-success')" ng-class-even="(rtc.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-info')" role="alert" style="margin-bottom:5px;">{{rtc.msg}}</div>
					</div>
				<!--	
					<ol ng-model="rtcreport">
						<li ng-repeat="rtc in rtcreport" ng-include="'rtc_renderer.html'"></li>
					</ol>
	   			-->
			</div>				

