<div>
  <div class="modal-header">
    <h4 class="modal-title">Edit row</h4>
    <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <form role="form" name="form">
      <div class="row">
        <div ng-repeat="(key, value) in $ctrl.row">
          <div class="form-group">
            <label class="label-sett" for="profileUsername">{{ key }}</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-settings"
              ng-model="$ctrl.row[key]"
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
        <button ng-click="$ctrl.submit()" ng-disabled="form.$pristine && form.$invalid || form.$dirty && form.$invalid" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
      </div>
    </form>
  </div>
</div>
