<div class="box a-widget">
  <div class="box-header">
    <h3>{{ $ctrl.widget.title }}</h3>

    <div class="box-header-btns pull-right">
      <a title="settings" ng-click="$ctrl.openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
      <a title="Remove widget" ng-click="$ctrl.delete()"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div> <!-- END box-header -->

  <div class="box-content">
    <nvd3 options="$ctrl.options" config="{ refreshDataOnly: true }" data="$ctrl.data"></nvd3>
  </div> <!-- END box-content -->
</div> <!-- END box -->
