
.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 10px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid transparent;
    background-color: #fff;    
    overflow: hidden !important;
}
.box:hover {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;    
    overflow: auto;
}
.box-header:hover {
    background-color: #efefef;
    border-bottom: 1px solid #fff;
}
.box-header {
    border-bottom: 1px solid #fff;
    padding: 0 30px 0 10px;
    cursor: move;
    position: relative;
}

.box-header h3 {
    margin-top: 8px;
    display: inline-block;
    /* color: #909090; */
    color: #e4e4e4;
      font-size: 12px;
      text-transform: uppercase;
}
.box-header h3:hover {
    margin-top: 8px;
    display: inline-block;
    color: #b0b0b0;
}
.box-content {
    padding: 8px;
    height: 100%;
}
.box-header-btns {
    top: 4px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 0px solid #ccc;
}


.gridster-item {
    overflow: hidden !important;
}


.gridster-loaded .gridster-item {
    margin-left: -10px !important; 
}

.glyphicon {
font-size: 12px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 2px !important;
}

.handle-n {
   height: 2px !important;
}
