.input-dropdown {
  //display: inline-block;
  position: relative;
}

.input-dropdown input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  height:34px;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.input-dropdown ul {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.input-dropdown ul > li {
  cursor: pointer;
  padding: 10px;
}

.input-dropdown ul > li.active {
  background: #608AEB;
}
