.grey-bg {
	background: #f9f9f9;
	}

.white-bg {box
	background: #fff;
	margin-bottom: 5px;
	margin-top: 5px;
}

.begining span, .end span, .from-to span, .to-from span {
	font-weight: 700;
}

.from-to {
    display: inline-block;
    // margin-left: 20px;
    padding-top: 11px;
    padding-left: 10px;
	display: inline-block;
    width: 50%;
    float:left;
}

.to-from {
    display: inline-block;
    // margin-left: 20px;
    padding-top: 11px;
	display: inline-block;
    width: 50%;
    float:right;
}

.begining, .end {
	display: inline-block;
	float: left;
	margin: 13px 0px 5px 5px;
	// font-size: 16px;
}

.arrow {
    width: 20px;
    float: left;
    display: block;
	padding-top: 40px;
	margin: 0 5px;
}

.outline-box {
    border: 4px solid #003D4C;
	    
}

.outline-box input {
    background: none;
    border: none;
}

.top-strip {
	color: #003D4C;
	margin-top: 25px;
	margin-bottom: 25px;
}

.icon {
    width: 25px;
    display: inline-block;
    float: left;
	margin-right: 10px;
}

.text {
	display: inline-block;
	float: left;
}

.chart-general {
    background: #fff;
}

.chart-general ol {
    padding: 0;
}

.chart-general li {
	background: #F6F6F6;
    margin-top: 10px;
    padding: 5px;
	font-size: 10px;
}

.chart-general li input {
	margin-right: 5px;
}

.chart-general label {
    display: block;
}

.chart-wrap {
	background: #fff;
	padding: 20px;
	}
	

#rtcpTimePicker input {
    padding: 5px;
    border: none;
    background: #F9F9F9;
    margin-top: 10px;
}


.btn.btn-success:hover {
	-webkit-filter: hue-rotate(10deg);
}

#rtcp-root .glyphicon {
    color: #49ca6d;
	width: 10px;
    height: 10px;
	}
	
.title {
    font-size: 18px;
    font-weight: 700;
    }
	
.S-text {
    font-size: 12px;
    font-weight: 800;
    margin-left: 5px;
    margin-right: 5px;
}
.XS-text {
    font-size: 10px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
}

.L-text {
    font-size: 22px;
    font-weight: 700;
}

.XL-text {
    font-size: 35px;
    font-weight: 700;
	line-height: 60px;
}

.light-grey {
    background: #c3c3c3;
    margin-top: 10px;
    padding-top: 8px;
    border-radius: 5px;
}

.light-orange {
	background: #e6e6e6;
	    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.light-blue {
	background: #ccd8db;
	    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.light-silver {
	background: rgb(241, 241, 241);
	    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.light-green {
	background: #d3e5d8;
	    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.light-green .L-text, .light-blue .L-text, .light-orange .L-text {
line-height: 20px;
}

.center-text {
text-align: center;
padding: 10px;
 // min-height: 140px;
}

.xrtp-block {
    text-align: center;
    padding: 10px;
    width: auto;
    margin-right: 4px;
    background: #e6e6e6;
    border-radius: 10px;
}

.green-full, .grey-full {
	display: inline-block;
	width: 50px;
    height: 50px;
    margin: 3px;
}

.bar-chart ul {
	display: inline-block;
	float: left;
	}
	
	.MOS {
	padding-left: 45px;
    padding-top: 25px;
	}
	
	.MOS-des {
    display: inline-block;
    margin: 10px;
    font-size: 25px;
	font-weight: 700;
    float: left;
}

.L-title {
    font-weight: 700;
    font-size: 25px;
	line-height: 25px;
	float: left;
}

.L-title span {
    font-weight: 400;
    font-size: 18px;
	
}

.grey-full {
	background:#eee;
}

.green-full {
	background:#49ca6d;
}

.yellow-full {
	background:#f5d778;
}

.red-full {
	background:#ef5454;
}

.green-text {
	color: #49CA6D;
}

.yellow-text {
	color: #f5d778;
}

.red-text {
	color: #ef5454;
}

.box-big {
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    color: #fff;
    margin: 15px;
	width: 60%;
    text-align: center;
	float: right;
}

.box-codec {
    display: inline-block;
    padding: 3px;
    font-size: 11px;
    color: #fff;
    margin: 1px;
    // float:left;
    border-radius: 3px;
}

.box-point {
    display: inline-block;
    padding: 3px;
    font-size: 10px;
    color: #fff;
    margin: 1px;
        text-align:center;
        min-width:25px;
    // float:left;
    border-radius: 3px;
}

.box-small {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    width: 70px;
    text-align: center;
}

.box-metrics {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    font-size: 11px;
    color: #fff;
    margin: 1px;
    border-radius: 3px;
}

.blue {
    background: #003D4C;
    
}

.orange {
    background: #ff674d;
}

.green {
    background: #49ca6d;
}

.purple {
	background: #8f57b5;
}

.dtmf .L-title {
	margin-top: 30px;
	margin-left: 15px;
	color: #003D4C;
}
	
.dtmf .panel-title a {
    display: inline-block;
    width: 20px;
	
}



.padding-top {
padding-top: 5px;
}

.report-panel-body svg#Layer_1 {
    width: 3px;
}

.report-panel-body tbody td {
    padding: 5px 40px;
    border: 3px solid #fff;
}

.report-panel-body table {
    text-align: center;
    float: right;
}

.report-panel-body th {
    text-align: center;
}





/*=========================== bootstrap overrides===============================*/

.panel-default>.panel-heading {
    background-color: transparent;
    border-color: #fff;
	padding: 0;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    border: none;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}


@media (max-width: 2499px) {

.container {
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 2px;
    padding-left: 2px;
}

.from-to p {
    font-size: 12px;
}

.L-text {
    font-size: 18px;
}

.XL-text {
    font-size: 35px;
	line-height: 42px;
}

.L-title {
    font-size: 15px;
}

.row {
    margin-right: -2px;
    margin-left: -2px;
}

.box-big {
    font-size: 18px;
    width: 45%;
	}
	
.panel-body tbody td {
    padding: 5px 10px;
    border: 3px solid #fff;
    font-size: 15px;
}

}

.highcharts-container {
    height: 250px;
}

.full-screen-modal {
    top: 0;
    left: 0;
    width: 100%;
}

.short-p {
    margin: 0 0 2px 0;
}


.panel-title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
}
