<header id="header" class="header">
  <nav class="navbar navbar-default hepic2-navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="$ctrl.navbar.isCollapsed = !$ctrl.navbar.isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <div class="hepic2-navbar-logo">hepic.</div>
        </a> <!-- END logo -->
      </div>
  
      <div class="navbar-collapse collapse" uib-collapse="$ctrl.navbar.isCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-group">
              <a class="hepic2-navbar-button" ng-click="$ctrl.logout()">
                <i class="fa fa-sign-out"></i>
              </a>
            </div>
          </li>
        </ul> <!-- END log out -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <auto-refresh></auto-refresh>
          </li>
        </ul> <!-- END auto-refresh -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <date-picker></date-picker>
          </li>
        </ul> <!-- END date-time picker -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <dashboards-menu dashboards="$ctrl.dashboardsMenu"></dashboards-menu>
          </li>
        </ul> <!-- END dashboards menu -->
      </div>
    </div>
  </nav>
</header>
