 <div class="clock-widget-settings">
    <form name="_form" class="form-horizontal" ng-submit="$ctrl.submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
            <h3>Settings</h3>
        </div> <!-- END modal-header -->

        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Title</label>
                <div class="col-lg-9 col-md-9">
                    <input name="name" type="text" ng-model="$ctrl.widget.title" class="form-control" />
                </div>
            </div> <!-- END Title -->

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label class="control-label col-lg-6 col-md-6">Timezone</label>
                    <div class="col-lg-6 col-md-6" uib-dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                            {{$ctrl.locationName}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li ng-repeat="zone in $ctrl.timezones">
                                <a href ng-click="$ctrl.setTimezone(zone)">{{zone.desc}}</a>
                            </li>
                        </ul> 
                    </div> <!-- END dropdown -->
                </div> <!-- END Timezone -->
            </div> <!-- END row -->
        </div> <!-- END modal-body-->

        <div class="modal-footer">
            <button ng-click="$ctrl.dismiss()" class="btn btn-lg"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div> <!-- END modal-footer -->
    </form>
</div>
