<div>
  <div class="modal-header">
    <h4 class="modal-title">Advanced Settings</h4>
    <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <form role="form" name="form" ng-model-options="{ getterSetter: true }">
      <div class="row">
        <h3 class="setting__main-title">Advanced Settings</h3>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-4 col-sm-4">
          <div class="form-group">
            <label class="label-sett" for="profileGroup">Partition ID</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control form-control-advanced"
              id="profileGid"
              ng-model="$ctrl.advanced.partid"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="form-group">
            <label class="label-sett" for="profileCategory">Category</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-advanced"
              id="profileCategory"
              ng-model="$ctrl.advanced.category"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
	</div>
        <div class="col-lg-4 col-sm-4">
          <div class="form-group">
            <label class="label-sett" for="profileParam">Param</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-advanced"
              id="profileParam"
              ng-model="$ctrl.advanced.param"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="setting__main-title">Data</h3>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-12 col-sm-12 col_margin-r">
          <div class="form-group">
            <div ui-ace="$ctrl.aceOptions" ng-model="$ctrl.advanced.data"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="$ctrl.dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
      <button ng-click="$ctrl.submit()" ng-disabled="form.$pristine && form.$invalid || form.$dirty && form.$invalid" class="btn btn-primary btn-lg">
        <i class="glyphicon glyphicon-ok"></i>Save
      </button>
    </div>
  </form>
</div>
