<login>
<div class="auth-main nd-auth-main"  ng-hide="$root.loggedIn">
	<div class="navbar-header nd-log-navbar-header">            
		<a href="/#/dashboard/home" class="navbar-brand nd-navbar-brand" >
                <div class="new-my-logo nd-logo">hepic.</div>
                <!-- <img src="img/Hepic_logo.svg"/> -->
		</a> 	
    </div>
    <div class="auth-block nd-auth-block">
        <h4 class="nd-title"> <i class="fa fa-sign-in" aria-hidden="true">&nbsp;</i>  Login</h4>
	<div class="has-error" role="alert" ng-show="invalidLogin">Username and password combination not recognised</div>
	<br>
	<form class="form-horizontal nd-form-horizontal" role="form" ng-submit="loginSubmit()">
	
	<div class="form-group nd-form-group row">
	    <!--    <label for="inputUsername3" class="col-sm-2 control-label nd-control-label">Username</label> -->
		<div class="col-sm-12">
		    <input type="text" name="username" id="username" class="form-control nd-form-control" placeholder="Username" required="" autofocus="" ng-model="loginModel.username">
		</div>
	</div>
	<div class="form-group nd-form-group row">
	    <!--	<label for="inputPassword3" class="col-sm-2 control-label nd-control-label">Password</label> -->
		<div class="col-sm-12">
		    <input type="password"name="password" id="password" class="form-control nd-form-control" placeholder="Password" required="" ng-model="loginModel.password">
		</div>
	</div>

	<!-- Auth Block -->
	<div class="form-group nd-form-group row">
	    <div class="input-group">
	      <div class="input-group-addon">
	         <div ng-switch="" on="field.name">
		    <label for="Auth" style="min-width:100px; margin:0px; margin-left:5px;margin-right:5px;line-height: 30px;" 
			class="ng-binding">Authentication</label>
	         </div>
	      </div>                                            
	      <i class="fa  fa-angle-down  select-ico"></i> 
	      <select ng-model="loginModel.auth_type" name="auth_type" id="auth_type" style="height: 35px;" class="ng-pristine ng-untouched ng-valid ng-not-empty">
	          <option value="local" class="ng-binding ng-scope" selected>Local</option>
	          <option value="ldap" class="ng-binding ng-scope">LDAP</option>
	      </select>
	   </div>
	</div>


	<!-- Buttons -->
	<div class="form-group nd-form-group row">
		<div class="col-sm-offset-2 col-sm-10"> 
			<button id="login_button" type="submit" class="btn btn-default btn-auth nd-btn-default">
			 <span>Sign in</span>
			</button>
		</div>
	</div>


	</form>
<!-- 	    <center><font size="-2" style="color:#ccc;">Homer &copy; sipcapture.org, All Rights Reserved</font></center> -->
   </div>
   	    <span class="bottom-login-text">&copy; 2017 QXIP BV, All Rights Reserved</span>
</div>
</login>
