<!-- INCLUDE: MEDIA REPORTS TAB -->
<uib-tabset active="active" style="margin-top:8px;">
  <uib-tab index="0" heading="Metric Charts" select="$ctrl.refresh()">
    <div id="chars-container_{{$index}}" class="jumotron" ng-hide="!$ctrl.d3chart.data" style="height:100%;width:100%;min-width:300px;margin-top:8px;">			
      <nvd3 options="$ctrl.options" data="$ctrl.d3chart.data" config="$ctrl.configD3" events="$ctrl.events" api="$ctrl.apiD3" on-ready="$ctrl.callbackD3"></nvd3>
      <center>
        <div class="btn-group btn-group-justified" style="padding:20px;">
          <a class="btn"
            style="background:#{{item.color}};font-size: 12px;color: #fff;border-radius:15px;padding:5px;" ng-repeat="item in $ctrl.series_legend" <!-- to-do: I did not find these options in ctrl -->
            ng-click="$ctrl.toggleBarsByName(item.id);item.show = !item.show;"> 
          {{ item.id.split('->')[0].split(' ')[0] }}<br>
          {{ item.id.split('->')[0].split(' ')[1].split(':')[0] }}<br>
          PORT: {{ item.id.split('->')[0].split(' ')[1].split(':')[1] }}
          </a>
        </div>
      </center>
    </div>

    <div id="no-reports" ng-hide="$ctrl.enable.report.quality || $ctrl.enable.report.xrtp || $ctrl.enable.report.rtcp" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><img src="/img/Close.svg" alt=""></button>
      <strong>Oops!</strong> No Reports available for this session
    </div>
  </uib-tab>
      
  <uib-tab index="1" heading="Network Reports" select="$ctrl.EventBus.resizeNull()">
    <div class="row nd-row" style=""height: 100%;min-height:400px;">
      <div ui-grid-auto-fit-columns ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
        id="qosrtp_{{$index}}"
        style="height: 100% !important"
        ng-if="$ctrl.enableQOSGrid && $ctrl.qosGridOpt.data.length>0" <!-- to-do: options are not in the ctrl -->
        ui-grid="$ctrl.qosGridOpt"
        class="$ctrl.gridStyle"></div>
    </div>
  </uib-tab>
      
  <uib-tab index="2" heading="UA Reports" select="$ctrl.EventBus.resizeNull()" ng-show="$ctrl.enableQOSGridUA"> <!-- to-do: options are not in ctrl -->
    <div class="row nd-row" style=""height: 100%;min-height:350px;">
      <div ui-grid-auto-fit-columns ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns
        id="qosua_{{$index}}"
        style="height: 100% !important;min-height:350px;"
        ng-if="$ctrl.enableQOSGridUA && $ctrl.qosUAGridOpt.data.length"
        ui-grid="$ctrl.qosUAGridOpt"
        class="$ctrl.gridStyle"></div>
    </div>
  </uib-tab>
</uib-tabset>
