<div>
    <form name="_form" class="form-horizontal">
        <div class="modal-header">
            <h4 class="modal-title">Widget Settings</h4>
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
            <uib-tabset>
                <uib-tab heading="HTML Content">
                    <div class="row">
                        <h3 class="modal-body-title">Title</h3>
                          <input type=text class=form-control id=widgetTitle ng-model="config.title" placeholder="Widget Title" required>
                        <br>


                        <h3 class="modal-body-title">Edit Content</h3>
                        <div class="modal-filter-inputs col-md-12">
                            <div class="input-group" style="width:100%">
                                <label for="widgetMetricsDatasources" class="input-label">Panel HTML</label>
					<div ui-ace="{theme: 'monokai', mode: 'html', onLoad: aceLoaded }" class="html-editor" ng-model="config.html" style="width:90%;"></div>
                            </div>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
            <button ng-click="save()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
