<div>
    <form name="_form" class="form-horizontal">
        <div class="modal-header">
            <h4 class="modal-title">Widget Settings</h4>
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
            <uib-tabset>
                <uib-tab heading="Basic options">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="input-group">
                                    <label for="widgetTitle" class="input-label">Title</label>
                                    <input type="text" class=form-control id="widgetTitle" ng-model="config.title" placeholder="Enter title" required data-inline="true">
                                </div>
                                <div class="input-group">
                                    <label for="widgetHeight" class="input-label">Height</label>
                                    <input type="number" min="0" step="1" pattern="\d*" class="form-control" id="widgetHeight" ng-init="config.chart.size.height = config.chart.size.height || 250" ng-model="config.chart.size.height" placeholder="Enter height (0) - default">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="input-group">
                                    <label for="widgetLibrary" class="input-label">Engine</label>
                                    <div class="select-wr">
                                        <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                        <select ng-options="opt as opt.label for opt in library track by opt.value " ng-model="config.chart.library" class="form-control" ng-change="selectEngine()"></select>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="widgetChartType" class="input-label">Type</label>
                                    <div class="select-wr">
                                        <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                        <select ng-options="opt as opt.label for opt in charts track by opt.value " ng-model="config.chart.type" class="form-control" ng-change="selectType()"></select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-class="{'pie':'hidden'}[config.chart.type.value]">
                            <div class="col-md-12">
                                <label for="widgetHeight" class="input-label">Axys names</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="axys-addon2">x</span>
                                    <input type="text" class="form-control" id="widgetXAxis" ng-model="config.chart.xaxis.title" placeholder="Enter title" aria-describedby="axys-addon2">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="axys-addon1">y</span>
                                    <input type="text" class="form-control" id="widgetYAxis" ng-model="config.chart.yaxis.title" placeholder="Enter title" aria-describedby="axys-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label for="widgetColors" class="input-label">Series Colors (optional)</label>
                                    <input type="text" class="form-control" id="widgetColors" ng-model="config.chart.ccc" placeholder="red,green,blue">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="legend" class="checkbox-label">
                    <input type="checkbox" ng-init="config.chart.legend.enabled ? true : false" id="legend" name="legend" ng-model="config.chart.legend.enabled">
                    <span><i class="fa fa-check"></i></span>
                    Legends
                  </label>
                            </div>
                        </div>

                    </div>
                    <!-- </form> -->
                </uib-tab>
                <uib-tab heading="Data Metrics">
                    <!--<label for="path">API Query Fields</label>-->
                    <div id="queryExpert" class="modal-sub-tabs" ng-show="displayQuery">
                    	<uib-tabset>
                    	     <uib-tab heading="Query">
                                	<div id="queryTab">
	                                    <div class="input-group">
        	                                <label for="path" class="input-label">API Query Path</label>
                	                        <input type="text" class="form-control" id="path" ng-model="config.path" ng-change="updateDebugUrl()" placeholder="Enter Path (call/function)">
                        	            </div>
                                	    <div class="input-group input-group--last">
                                        	<label for="query" class="input-label">API Query Value</label>
	                                        <textarea style="height: 200px;" class="form-control" id="query" ng-change="updateDebugUrl()" ng-model="config.query" placeholder="Query"></textarea>
        	                            </div>
                	                    <p ng-class="parsingColorClass" class="syntax-error">{{parsingStatus}}</p>
                        	        </div>
			    </uib-tab>                    
                    

                            <uib-tab heading="Fields">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr ng-repeat="src in fieldsdata">
                                                        <td class="text-center">{{src.name}}</td>
                                                        <td class="text-center" colspan="{{src.sub}}">
                                                            <div ng-if="src.type=='input'"><input type="input" class="form-control border-radius" ng-model="config.dataquery.data[localindex][src.value]" /></div>

                                                            <div ng-if="src.type=='checkbox'">
                                                            	<label for="sum" class="checkbox-label">                                                            	
									<input type="checkbox" ng-init="config.dataquery.data[localindex][src.value] ? true : false" id="sum" name="sum" ng-model="config.dataquery.data[localindex][src.value]">
									<span><i class="fa fa-check"></i></span>
								</label>
                                                        <!-- <input type="checkbox" ng-model="config.dataquery.data[localindex][src.value]"/><span><i class="fa fa-check"></i></span> -->
                                                            
                                                            
                                                            </div>

                                                            <div ng-if="src.type=='select'">
                                                                <div class="select-wr">
                                                                    <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                                                    <select id="widgetMetricsDatasources" ng-change="checkSourceSelection(src.value, localindex)" ng-options="dat as dat.name for dat in src.data track by dat.name " ng-model="config.dataquery.data[localindex][src.value]" class="form-control" required></select>
                                                                </div>
                                                            </div>

                                                            <div ng-if="src.type=='select2'">
                                                                <div class="select-wr">
                                                                    <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                                                    <ui-select multiple tagging="tagTransform" ng-model="config.dataquery.data[localindex][src.value]" style="height: 50px;" theme="bootstrap" title="Select Counter">
                                                                        <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                                                        <ui-select-choices repeat="counter in myRemotedata  | propsFilter: {name: $select.search, value: $select.search}">
                                                                            <div ng-if="counter.isTag" ng-bind-html="(counter.name | highlight: $select.search) +' (new)'"></div>
                                                                            <div ng-if="!counter.isTag" ng-bind-html="counter.name + counter.isTag| highlight: $select.search"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td ng-if="src.sub==1" class="text-center">
                                                            <div ng-if="src.name=='Metrics'">
                                                                <div class="select-wr">
                                                                    <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                                                    <select id="MetricsSub1" ng-change="checkMetricsSourceSelection(src.name)" ng-options="dat as dat.name for dat in metrics.sub1data track by dat.name " ng-model="config.panel.metricsub1" class="form-control" required></select>
                                                                </div>
                                                            </div>
                                                            <div ng-if="src.name=='Group By'">
                                                                <div class="select-wr">
                                                                    <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                                                                    <select id="GroupBy1" ng-change="checkGroupBySourceSelection(src.name)" ng-options="dat as dat.name for dat in groupby.sub1data track by dat.name " ng-model="config.panel.groupbysubb1" class="form-control" required></select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                      </div>
                                </div>

                            </uib-tab>

                            <uib-tab heading="Debug">
                                <label for="path" class="input-label">CURL Debug:</label>
                                <div class="input-group">
                                    <textarea style="height: 100px;" class="form-control" id="debugquery" ng-model="debug" placeholder="Debug query"></textarea>
                                </div>
                                <div class="input-group">
                                    <label for="path" class="input-label">CURL Response:</label>
                                    <textarea style="height: 120px;" class="form-control" id="debugqueryresp" ng-model="config.debugresp" placeholder="Debug query response"></textarea>
                                </div>
                            </uib-tab>
                    </div>
                </uib-tab>
                </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
            <button ng-click="save()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
