<div>
  <div class="modal-header">
    <h4 class="modal-title">Protocol Mapping</h4>
    <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <form role="form" name="form" ng-model-options="{ getterSetter: true }">
      <div class="row">
        <h4 class="setting__main-title">Mapping Settings</h4>
	<p>Defines the identifier, format and lifetime of protocol data</p>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-3 col-sm-3">
          <div class="form-group">
            <label class="label-sett" for="profileGroup">Partition ID</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control form-control-mapping"
              id="profileGid"
              ng-model="$ctrl.mapping.partid"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <div class="col-lg-3 col-sm-3">
          <div class="form-group">
            <label class="label-sett" for="profileCategory">HEP Alias</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileHepAlias"
              ng-model="$ctrl.mapping.hep_alias"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
	</div>
        <div class="col-lg-3 col-sm-3">
          <div class="form-group">
            <label class="label-sett" for="profileHepId">HEP ID</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileParam"
              ng-model="$ctrl.mapping.hepid"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <div class="col-lg-2 col-sm-2">
          <div class="form-group">
            <label class="label-sett" for="profileHepId">Profile</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileParam"
              ng-model="$ctrl.mapping.profile"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <div class="col-lg-2 col-sm-2">
          <div class="form-group">
            <label class="label-sett" for="profilePartitionStep">Partition Step</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileHepAlias"
              ng-model="$ctrl.mapping.partition_step"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <div class="col-lg-2 col-sm-2">          
          <div class="form-group">
            <label class="label-sett" for="profileRetention">Retention</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileParam"
              ng-model="$ctrl.mapping.retention"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        <!--
        <div class="col-lg-10 col-sm-10">
          <div class="form-group">
            <label class="label-sett" for="profileCreatTable">Create table</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileHepAlias"
              ng-model="$ctrl.mapping.create_table"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
          <div class="form-group">
            <label class="label-sett" for="profileRetention">Create index</label>
            <input
              type="text"
              ng-readonly="false"
              class="form-control
              form-control-mapping"
              id="profileParam"
              ng-model="$ctrl.mapping.create_index"
              ng-required="$ctrl.areNewSettings"
            >
          </div>
        </div>
        -->
      </div>
      <div class="row">
        <h4 class="setting__main-title">Correlation Mapping</h4>
	<p>Defines any cross-protocol correlation mechanism</p>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-12 col-sm-12 col_margin-r">
          <div class="form-group">
            <div class="editor" ui-ace="$ctrl.aceOptions" ng-model="$ctrl.mapping.correlation_mapping_source"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="setting__main-title">Fields Mapping</h4>
	<p>Defines schema and mapping for protocol fields</p>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
        <div class="col-lg-12 col-sm-12 col_margin-r">
          <div class="form-group">
            <div class="editor" ui-ace="$ctrl.aceOptions" ng-model="$ctrl.mapping.fields_mapping_source"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="$ctrl.dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
      <button ng-click="$ctrl.submit()" ng-disabled="form.$pristine && form.$invalid || form.$dirty && form.$invalid" class="btn btn-primary btn-lg">
        <i class="glyphicon glyphicon-ok"></i>Save
      </button>
    </div>
  </form>
</div>
