			<div class="modal-header">
				<h4 class="modal-title">Add new widget to Panel</h4>
			</div>
			<div class="modal-body">
				<div style="display: inline-block;">
					<ul class=add-widget-list ng-repeat="(key, value) in widgets"> 
						<p class="group-add-widget">{{key}}</p>
						<dt class="dt-add-widget" ng-repeat-start="widget in value"> 
							<a href ng-click='addWidget(widget.name)'> {{widget.title}}</a> 
						</dt>
						<dd class="dd-add-widget" ng-repeat-end="">{{widget.description}}</dd>
						<div style="clear:both;"> </div>
					</ul> 
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-warning btn-modal" ng-click="close()">Close</button>
			</div>
