<div class="modal-header homer-modal-header" style="border-bottom:0;">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()" style="margin-right:4px;"><img src="img/Close.svg" alt=""></button>

        	<h4 class="modal-title" style="float:left;margin-left:4px;">Message ID: {{msgId}}</h4>
</div>
<div ng-show="dataLoading">
	<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
        	<div class="loadingContent"><p><img alt="Loading  Content" src="img/ajax-loader.gif" /> Loading</p></div>
        </div>
</div>

<div class="modal-body homer-modal-body">
		<div class="modal-body-buttons">

<!--
		 <div class="btn-group btn-group-sm" role="group" aria-label="..." style="float:left;margin-top:-4px;">
        	  <button type="button" class="btn btn-default" ng-click="showSipMessage = true; showSipDetails = false;">Show Message</button>	        
        	  <button type="button" class="btn btn-default" ng-click="showSipDetails = true; showSipMessage = false;">Show Details</button>	        
        	 </div>
        	</div>

		<div style="clear:both"></div>

                <div id='sipdetails' ng-show="showSipDetails" class="sipmessage" data-ng-bind-html="trustedHtmlDetails"></div>                
                <div id='sippath' ng-show="showSipMessage" class="sipmessage">{{msgDate}} : {{sipPath}}</div>
                <div id='sipmsg' ng-show="showSipMessage" class="sipmessage" data-ng-bind-html="sipMessage"></div>
-->

        <uib-tabset>
            <uib-tab>
		<uib-tab-heading><i class="fa fa-file-text-o" aria-hidden="true"></i> Message</uib-tab-heading>
                <div id='sippath' ng-show="showSipMessage" class="sipmessage">{{msgDate | date:'yyyy-MM-dd HH:mm:ss Z': msgOffset}} : {{sipPath}}</div>
                <div id='sipmsg' ng-show="showSipMessage" class="sipmessage" data-ng-bind-html="sipMessage"></div>
            </uib-tab>
            <uib-tab>
		<uib-tab-heading><i class="glyphicon glyphicon-info-sign"></i> Details</uib-tab-heading>
                <div id='sipdetails' ng-show="showSipMessage" class="sipmessage" data-ng-bind-html="trustedHtmlDetails"></div>                
             </uib-tab>
          </uib-tabset>

</div>

