<div class="modal-header homer-modal-header" style="border-bottom:0;">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()" style="margin-right:4px;"><img src="img/Close.svg" alt=""></button>

        	<h4 class="modal-title" style="float:left;margin-left:4px;">Play Stream ID: {{sdata.filename}}</h4>
</div>

<div ng-show="dataLoading">
	<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
	        <!--	<div class="loadingContent"><p><img alt="Loading  Content" src="img/ajax-loader.gif" /> Loading</p></div> -->

                        <i class="fa fa-asterisk fa-spin fa-5x" style="color: #f4c20d;"></i>
                       	<i class="fa fa-gear fa-spin fa-5x" style="color:#3cba54; font-size: 172px;"></i>
                        <i class="fa fa-asterisk fa-spin fa-5x" style="color: #db3236;"></i>

        </div>
</div>

<div ng-hide="dataLoading" class="modal-body homer-modal-body" style="height:auto !important;">
	<div style="height:98%;width:99%;">

		<div ng-if="ready"> 		
			<wavesurfer-angular url-data="url" options-data="options" sdata="sdata" wave-color="{{options.waveColor}}" ></wavesurfer-angular>
			<br>
			<div style="padding: 6px;top: 35px;right: 30px;float: right;border-radius:4px;position: absolute;">
				<a  href="{{url}}" target="_blank" class="btn-primary" 
				    style="padding: 6px;float: right;border-radius:4px;margin-left:5px;"
				    role="button"><i class="fa fa-download" aria-hidden="true"></i> Audio</a>
				<a  href="{{pcap_url}}" target="_blank" class="btn-primary" ng-show="{{pcap_url}}" 
				    style="padding: 6px;float: right;border-radius:4px;margin-left:5px;"
				    role="button"><i class="fa fa-download" aria-hidden="true"></i> PCAP</a>
			</div>
		</div>

	<div class="panel-body header-action-area" style="width:100%;padding-bottom:18px !important;padding-top:18px !important;">
		<div class="row" style="font-size:9px;">
			<div class="col-xs-1"><span class="align-left" style="font-size:9px">Stream</span></div>
			<div class="col-xs-1"><span class="align-left" style="font-size:9px">Codec ID</span></div>
			<div class="col-xs-2"><span class="align-left" style="font-size:9px">Codec Name</span></div>
			<div class="col-xs-4"><span class="align-left" style="font-size:9px">Source IP:port</span></div>
			<div class="col-xs-4"><span class="align-left" style="font-size:9px">Destination IP:port</span></div>
		</div>
		<div class="row" style="font-size:15px;" data-ng-repeat="(key,val) in infostream">
			<div class="col-xs-1 ng-binding">{{ val.id }}</div>
			<div class="col-xs-1 ng-binding">{{ val.codec_id }}</div>
			<div class="col-xs-2 ng-binding">{{ val.codec_name}}</div>
			<div class="col-xs-4 ng-binding">{{ val.source_ip}}:{{ val.source_port}} </div>
			<div class="col-xs-4 ng-binding">{{ val.destination_ip}}:{{ val.destination_port}}</div>
		</div> 
	</div>

	<div class="panel-body header-action-area" style="width:100%;padding-bottom:8px !important;padding-top:18px !important;">
		<div class="row" style="font-size:9px;">
			<div class="col-xs-1"><span class="align-left" style="font-size:9px">LIID</span></div>
			<div class="col-xs-1"><span class="align-left" style="font-size:9px">SID</span></div>
			<div class="col-xs-1"><span class="align-left" style="font-size:9px">CID</span></div>
			<div class="col-xs-4"><span class="align-left" style="font-size:9px">Correlation ID</span></div>
			<div class="col-xs-5"><span class="align-left" style="font-size:9px">Timestamp</span></div>
		</div>
		<div class="row" style="font-size:15px;" style="overflow: hidden; text-overflow: ellipsis;">
			<div class="col-xs-1"><span class="align-left" style="font-size:15px">{{ sdata.liid }}</span></div>
			<div class="col-xs-1"><span class="align-left" style="font-size:15px">{{ sdata.sid }}</span></div>
			<div class="col-xs-1"><span class="align-left" style="font-size:15px">{{ sdata.captid }}</span></div>
			<div class="col-xs-4"><span class="align-left" style="font-size:15px">{{ sdata.correlation_id }}</span></div>
			<div class="col-xs-5"><span class="align-left" style="font-size:15px">{{ sdata.micro_ts | date:'yyyy-MM-dd HH:mm:ss Z' }}</span></div>
		</div>

		<div class="row" style="font-size:9px;margin-top:10px;">
			<div class="col-xs-12"><span class="align-left" style="font-size:9px">PCAP Filename</span></div>
		</div>
		<div class="row" style="font-size:15px;" style="overflow: hidden; text-overflow: ellipsis;">
			<div class="col-xs-12"><span class="align-left" style="font-size:15px">{{ sdata.storedir}}{{ sdata.filename }}</span></div>
		</div>
	</div>

</div>

