{
    "alias": "home",
    "config": {
        "columns": 28,
        "draggable": { "handle": ".box-header" },
        "gridType": "scrollVertical",
        "ignoreMinSize": "warning",
        "margins": [10, 10],
        "maxrows": 28,
        "pushing": false,
        "resizable": {
            "enabled": true,
            "handles": ["n", "e", "s", "w", "ne", "se", "sw", "nw"]
        }
    },
    "dashboardId": "home",
    "id": "home",
    "isLocked": false,
    "name": "Home",
    "param": "home",
    "selectedItem": "",
    "shared": false,
    "title": "Home",
    "type": 3,
    "weight": 10,
    "widgets": [
        {
            "activeTab": true,
            "cols": 6,
            "config": {
                "config": {
                    "title": "CALL SIP SEARCH",
                    "searchbutton": true,
                    "protocol_id": { "name": "SIP", "value": 1 },
                    "protocol_profile": { "name": "call", "value": "call" }
                },
                "countFieldColumns": 1,
                "fields": [
                    {
                        "field_name": "data_header.from_user",
                        "hepid": 1,
                        "name": "1:call:data_header.from_user",
                        "selection": "SIP From user",
                        "type": "string"
                    },
                    {
                        "field_name": "data_header.to_user",
                        "hepid": 1,
                        "name": "1:call:data_header.to_user",
                        "selection": "SIP To user",
                        "type": "string"
                    },
                    {
                        "field_name": "data_header.method",
                        "hepid": 1,
                        "name": "1:call:data_header.method",
                        "selection": "SIP Method",
                        "type": "string"
                    },
                    {
                        "field_name": "data_header.callid",
                        "hepid": 1,
                        "name": "1:call:data_header.callid",
                        "selection": "SIP Callid",
                        "type": "string"
                    },
                    {
                        "field_name": "limit",
                        "hepid": 1,
                        "name": "1:call:limit",
                        "selection": "Query Limit",
                        "type": "string"
                    },
                    {
                        "field_name": "targetResultsContainer",
                        "hepid": 1,
                        "name": "1:call:targetResultsContainer",
                        "selection": "Results Container",
                        "type": "string"
                    }
                ],
                "title": "CALL SIP SEARCH"
            },
            "id": "display-results-1",
            "isWarning": true,
            "layerIndex": 2,
            "minItemCols": 1,
            "minItemRows": 1,
            "name": "display-results",
            "output": {},
            "rows": 9,
            "strongIndex": "ProtosearchWidgetComponent",
            "tabGroup": "tabIndex-298361",
            "title": "TDR Call Search",
            "x": 0,
            "y": 0
        },
        {
            "cols": 22,
            "config": { "title": "Widget Result" },
            "id": "RESULT-1",
            "isWarning": true,
            "layerIndex": 2,
            "minHeight": 400,
            "minItemCols": 1,
            "minItemRows": 1,
            "minWidth": 650,
            "name": "RESULT",
            "output": {},
            "rows": 12,
            "strongIndex": "ResultWidgetComponent",
            "tabGroup": "tabIndex-522642",
            "title": "RESULT-1",
            "x": 6,
            "y": 0
        },
        {
            "cols": 6,
            "config": {
                "datePattern": "YYYY-MM-DD",
                "fontSizeClock": 20,
                "fontSizeDate": 20,
                "id": "clock-1",
                "location": {
                    "desc": "Europe/Amsterdam",
                    "name": "Europe/Amsterdam",
                    "offset": "+2"
                },
                "radius": 177.46875,
                "showAnalog": "Digital",
                "showDate": true,
                "showseconds": false,
                "timePattern": "HH:mm:ss",
                "title": "Home Clock"
            },
            "id": "clock-1",
            "layerIndex": 2,
            "name": "clock",
            "output": {},
            "rows": 3,
            "strongIndex": "ClockWidgetComponent",
            "tabGroup": "tabIndex-306538",
            "title": "World Clock",
            "x": 0,
            "y": 9
        }
    ]
}
