.clock-widget-settings .dropdown-toggle {
    width: 350px;
}

.clock-widget-settings .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.clock-widget-settings .modal-body {
    height: 180px;
}
