<div class="box protosearch-widget">
  <div class="box-header">
    <h3>{{ $ctrl._widget.config.title }}</h3>
    <div class="box-header-btns pull-right">
      <a title="settings" ng-click="$ctrl.openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
      <a title="Remove widget" ng-click="$ctrl.delete()"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div> <!-- END box-header -->

  <div class="box-content">
    <div ng-repeat="field in $ctrl._widget.fields" class="col-md-12  panel-body-column">    
        <div ng-if="field.form_type == 'input'" class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <div ng-switch on="field.name">
                <label for="{{field.selection}}"
                  style="min-width:100px; margin:0px; margin-left:5px;margin-right:5px;">{{field.selection}}</label>
              </div>
            </div> <!-- END input-group-addon --> 
            <input title="{{getIndexType(field.name)}}" type="text" name="{{field.selection}}"
              id="{{field.selection}}"  ng-enter="$ctrl.processSearchForm();"
              class="form-control" ng-model="$ctrl.newObject[field.name]" style="height:35px !important;"/>
            <span class="fa {{ getIndexIconType(field.name)}} form-control-search" title="search type"></span>
          </div> <!-- END input-group -->
        </div> <!-- END form-group -->
      </div> <!-- END field.selection Other-->

   <div ng-show="!$ctrl._widget.fields[0]">

	<h4>No Fields</h4>
        <a title="settings" ng-click="$ctrl.openSettings(widget)" class="alert-link">Edit preferences <i class="glyphicon glyphicon-cog"></i></a>

   </div>

    <div class="form-group form-group-custom-3" ng-show="$ctrl._widget.config.searchbutton" ng-hide="!$ctrl._widget.fields[0]"
      style="padding-right:0px;height:30px;">  
      <button type="submit" ng-click="$ctrl.clearSearchForm();" class="btn btn-warning"
        style="float:right;margin-right: 10px;height:auto;" ng-disabled="false"> Clear </button>
      <button type="submit" ng-click="$ctrl.processSearchForm();" class="btn btn-primary "
        style="float:right;margin-right: 5px;height:auto;" ng-disabled="false"> 
      <i class="fa" ng-class="{'fa-spinner fa-spin': isBusy, '': !isBusy}"></i>Search</button> 
    </div> <!-- END form-group -->
  </div> <!-- END box-content -->
</div> <!-- END box -->
