<!-- INCLUDE: EXPORT TAB -->
								
   	      <div class="export-title">Export Session Data</div>
                <div style="margin:auto; width: 395.6px;" id="export123">
                        <button class="btn btn-normal btn-export btn-info btn-export_blue" ng-click="exportPCAP()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-file-code-o" aria-hidden="true"></i>
                                <span> Export PCAP</span>
                        </button>



                        <button ng-disabled="exporting" class="btn btn-normal btn-export btn-danger btn-export_blue" ng-click="exportDiv('');resizeNull();" data-placement="top-right" style="margin-top:18px;margin-left:8px;width:18%;">
				<i ng-hide="exporting" class="fa fa-file-image-o" aria-hidden="true"></i>
				<i ng-show="exporting" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        	<span>Export PNG</span></button>

		<!--
                        <button ng-disabled="exporting" class="btn btn-normal btn-export btn-danger btn-export_blue" ng-click="exportDiv('timeline_');resizeNull();" data-placement="top-right" style="margin-top:18px;margin-left:8px;width:18%;">
				<i ng-hide="exporting" class="fa fa-file-image-o" aria-hidden="true"></i>
				<i ng-show="exporting" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        	<span>Export Timeline</span></button>
		-->

                        <button ng-hide="sharelink" class="btn btn-normal btn-export btn-info btn-export_green" ng-click="exportCloud()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                                <span>Share Cloud</span>
                        </button>

		<!--
                        <a ng-show="sharelink" href="//{{sharelink}}" target="_blank" class="btn btn-normal btn-info btn-warning btn-export" data-placement="top-right" style="margin-top:18px;margin-left:8px;width:18%;background-color:#f39c12;color:#ffffff;">
                                <i class="fa fa-share-alt fa-spin"></i>
                                <span>Link Ready</span>
                        </a>
		-->


                        <button class="btn btn-normal btn-export btn-danger btn-export_blue" ng-click="exportTEXT()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>Export TEXT</span>
                        </button>


                        <!-- share link -->
                        <button ng-if="!shareLinkDisabled" class="btn btn-normal btn-export btn-info btn-export_green" ng-click="exportShare()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;">
                                <i class="fa fa-share-alt"></i>
                                <span>Share Link</span>
                        </button>

                        <button class="btn btn-normal btn-export btn-danger btn-export_blue" ng-click="makeREPORT()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>Export REPORT</span>
                        </button>




			<!-- Exclude IPs -->
		<!--
			<div class="btn btn-normal">
			    <ui-select multiple style="height: 50px;" theme="bootstrap" title="Select IPs">
			       <ui-select-match placeholder="Select...">IPs</ui-select-match>
			       <ui-select-choices repeat="ip in uniqueIps">
			               <div ng-bind-html="(ip)'"></div>
			       </ui-select-choices>
			    </ui-select>
			</div>
		-->




              </div>



                        
             
