<!-- INCLUDE: GRAPH IP TAB -->
								
		<div id="frame-{{::$id}}" ng-hide="!enableGraph" style="min-height:500px;min-width:400px;margin-top:8px;background:#fff;">		
			 <nvd3 id="force-{{::$id}}" options="LiveGraph.options" data="LiveGraph.data" style="min-width: 400px; min-height: 400px;"></nvd3>
			<!-- <nvd3 style="width:100%;height:100%;" id="{{key}}" options="LiveGraph.options" data="LiveGraph.data" config="configD3" events="events" api="apiD3" on-ready="callbackD3"></nvd3> -->
		</div>

