<!-- INCLUDE: LOGS TAB -->

<div id="no-reports" ng-hide="!!$ctrl.hepsubreport.length" class="alert alert-warning alert-dismissible" role="alert"> <!--to-do: Why is it identical to graph? -->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><img src="/img/Close.svg" alt=""></button>
  <strong>Oops!</strong> No Logs available for this session
</div>
<div id="hepsub-root" ng-if="!!$ctrl.hepsubreport.length" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">				
  <section class="json-tree-out" ng-repeat="hepsub in $ctrl.hepsubreport | filter:$ctrl.onMatchJson">
    <span style="font-size:12px;">{{ hepsub.type || hepsub.srcIp }}</span>
    <json-tree object="hepsub" start-expanded="false" root-name="'payload'"></json-tree>
  </section>
  <!--
  <section class="json-tree-out" ng-repeat="hepsub in LiveLogs | filter: matchJSON">
    <span style="font-size:12px;">{{ hepsub.type || ( ip_alias[hepsub.source_ip] || hepsub.source_ip ) }}</span>
    <json-tree object="hepsub.data" start-expanded="false"></json-tree>
  </section>
  -->
</div>				
