<div class="container-fluid content">
  <div class="row">
    <form action="../submit" id="formentry" class="form-horizontal" role="form" data-parsley-validate="" novalidate="">
      <div class="container-fluid shadow">
        <div class="row">
          <div id="valErr" class="row viewerror clearfix hidden">
            <div class="alert alert-danger">Oops! Seems there are some errors..</div>
          </div>
          <div id="valOk" class="row viewerror clearfix hidden">
            <div class="alert alert-success">Yay! ..</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <json-editor
                json-editor-data="$ctrl.appPreferences.data"
                json-editor-schema="$ctrl.appPreferences.schema"
                json-editor-persist="$ctrl.handlePersist(data)"
              ></json-editor>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
