<div class="container-fluid content">
  <div class="row">
    <div class="col-md-2">
      <div class="setting__nav-title">Admin Settings</div>
      <nav class="js-nav navbar" role="navigation">
        <ul class="setting__nav-items">
          <li class="setting__nav-item"
            ng-class="{'active': $index == $ctrl.sections.selectedIndex}"
            ng-repeat="sectionName in $ctrl.sections.categories.admin"
            ng-click="$ctrl.selectSection($index, sectionName)">
            <a class="setting__nav-link cng-setting__nav-link" ui-sref=".{{sectionName}}">
            {{sectionName}}
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10">
      <div class="wr-setting">
        <div class="setting__main"
          ui-view
          app-preferences-editor-data="$ctrl._appPreferences[$ctrl.sections.activeSectionName]"
        ></div>
      </div>
    </div>
  </div>
</div>
