<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="$ctrl.menu.isOpen">
  <a href="#" class="hepic2-navbar-button" uib-dropdown-toggle>
    <em class="fa fa-refresh" alt="refresh"></em>
    {{$ctrl.menu.title}}
  </a>
  <ul class="dropdown-menu dropdown-content" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem">
      <a ng-click="$ctrl.off()">No Autorefresh</a>
    </li>
    <li role="menuitem" ng-repeat="refresh in $ctrl.menu.refresh">
      <a ng-click="$ctrl.run(refresh)">{{refresh.title}}</a>
    </li>
  </ul>
</div>
