.hepic2-navbar {
  background-color: #008471;
  border: none;
  border-radius: 0;
}

nav.hepic2-navbar a.navbar-brand {
  padding: 0 25px 0 25px;
}

nav.hepic2-navbar a.hepic2-navbar-button i.fa {
  font-size: 20px;
  padding: 0px 4px;
}

nav.hepic2-navbar a.navbar-brand div.hepic2-navbar-logo {
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  vertical-align: baseline;
  color: #fff;
  font-family: "Helvetica-Neue-Bold";
  padding: 5px;
}

nav.hepic2-navbar a.navbar-brand div.hepic2-navbar-logo:first-letter {
  color: #1DC27C;
}

nav.hepic2-navbar ul.dropdown-menu {
  font-size: 17px;
}

.hepic2-navbar-button {
  color: #ffffff;
  /*background-color: #24465f;
  border: 1px solid #314179;*/
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding: 12px 15px;
  text-decoration: none;
}

.hepic2-navbar-button:hover {
  color: #ffffff;
  background-color: #06a78f;
}

.hepic2-navbar-button:active {
  cursor: pointer;
}

.hepic2-navbar-button:focus {
  color: #ffffff;
}

.hepic2-navbar-button:visited {
  color: #ffffff;
}
