<!-- INCLUDE: CFLOW TAB -->
<div class="wr-wr-cflowsvg" id="{{cflowid}}">
    <table class="wr-table-call wr-table-call_icons">
        <tr>
            <td style='width: {{100/hostsflow.length}}%' ng-repeat="item in hostsflow track by $index">
                <div class="wr-last-rec">
<!-- TEST NEW STYLE -->
                    <div class="info {{item.type}}">
                        <div ng-if="$first" class="wr-info-text wr-info-text_left cflow-bubble" style="margin-left:-2px;">
                            <div class="info-text" style="color:#fff;">{{item.description}}</div>
                            <div class="info-text-port" >{{item.name}}</div>
                        </div>

                        <div ng-if="!$first" class="wr-info-text wr-info-text_left cflow-bubble" style="transform: translateX(-50%);">
                            <div class="info-text" style="color:#fff;">{{item.description}}</div>
                            <div class="info-text-port" >{{item.name}}</div>
                        </div>

                    </div>

                    <div ng-if="$last == true" class="info {{lasthosts.type}}" style="margin-right:-4px;">
                        <div class="wr-info-text cflow-bubble">
                            <div class="info-text" style="color:#fff;">{{lasthosts.description}}</div>
                            <div class="info-text-port" >{{lasthosts.name}}</div>
                        </div>
                    </div>



                </div>
            </td>
        </tr>
    </table>
    <div class="wr-cflowsvg">
        <table id="cflowsvg" class="wr-table-call">
            <thead>
                <tr>
                    <td style='width: {{100/hostsflow.length}}%' ng-repeat="item in hostsflow track by $index">
                        <div class="wr-last-rec">
                            <div class="info {{item.type}}">
                                <div ng-if="$first" class="wr-info__rectangle">
                                </div>
                                <div ng-if="!$first" class="wr-info__rectangle">
                                </div>
                                <div class="wr-info-text wr-info-text_left">
                                </div>

                            </div>

                            <div ng-if="$last == true" class="info {{lasthosts.type}}">
                                <div class="wr-info-text">
                                </div>
                                <div class="wr-info__rectangle">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in messagesflow">
                    <td ng-if="item.begin_c > 0" colspan="{{item.begin_c}}"></td>
                    <td colspan="{{item.midle_c}}">
                        <div ng-class="wr-call">
                            <div ng-click="showMessageById(item.pid,$event)" ng-style="{{item.color}}" ng-class="item.direction ? 'call call_caller text-right' : 'call call_recipient'">
                                <div class="call_text" ng-hide="{{ item.method == 'undefined' }}"> {{ item.method == 'undefined' ? protoCheck(item.proto) : item.method }}</div>
                                <div class="call_text" ng-show="{{ item.method == 'undefined' }}"> {{ protoCheck(item.proto) }}</div>
                                <div class="call_text-mini"> {{ item.method_ext | limitTo: 30 }}{{item.method_ext.length > 30 ? '...' : ''}}</div>
                                <div class="call_text-date">[{{item.pid}}][{{ protoCheck(item.proto) | uppercase }}] {{item.date}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="cflow-legend">
            <center>
                <i ng-repeat="item in callid" class="fa fa-asterisk" style="color:{{item.divColor.color}}"> <b>{{ item.name }}</b> &nbsp;&nbsp;</i>
            </center>
        </div>

    </div>
</div>
