<!-- <div class="modal-header">
  <h4 class="modal-title">Edit Profile</h4>
</div> -->
<nav>
<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
    <div class="row">
      <h3 class="setting__main-title">Dashboard Settings</h3>
      <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
      <div class="col-lg-4 col-sm-4 col_margin-r">

				    <div class="input-group">
                                        <span class="input-label">Timezone</span>
                                      	<label class="select-wr" for="tz">
                                            <i class="fa  fa-angle-down  select-ico"></i>
                                            <select ng-options="opt.value as opt.name for opt in timezones" ng-model="profile.timezone"></select>
                                        </label>
                                    </div>


        <div class="form-group">
          <label class="label-sett" for="profileTimezone">Timezone</label>
          <input type="text" ng-readonly="false" class="form-control form-control-settings" id="profileTimezone" ng-model="profile.timezone">
        </div>

        <div class="form-group">
          <label class="label-sett" for="profileCorrelation">Correlation</label>
          <input type="text" ng-readonly="false" class="form-control form-control-settings" id="profileCorrelation" ng-model="profile.correlation">
        </div>
      </div>
    </div>
   </form>
</div>
<div style="float:left; margin-left:40px;" class="modal-footer">
  <button type="button" ng-click="saveProfile();" class="btn btn-primary " style="float:right" ng-disabled="false">
            <i class="fa" ng-class="{'fa-spinner fa-spin': isBusy, '': !isBusy}"></i>
            Save
  </button> 
  
<!--   <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button> -->
</div>
</nav>
