<!-- <div class="modal-header">
  <h4 class="modal-title">TEST Profile</h4>
</div> -->
<nav>
<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
  	<div class="row">
  		<h3 class="setting__main-title">Test</h3>
  		<div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
  		<div class="col-lg-4 col-sm-4 col_margin-r">
  			<div class="form-group">
  			  <label class="label-sett" for="profileUsername">TEST</label>
  			  <input type="text" ng-readonly="true" class="form-control form-control-settings" id="profileUsername" ng-model="profile.username" required="">
  			</div>
  		</div>
  	</div>
   </form>
</div>
<div style="float:left; margin-left:40px;" class="modal-footer">
  <button style="float:left;" type="button" class="btn btn-primary" ng-click="saveProfile()">Save</button>
<!--   <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button> -->
</div>
</nav>