				<div id="no-reports" ng-hide="call_transaction" class="alert alert-warning alert-dismissible" role="alert">
					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><img src="/img/Close.svg" alt=""></button>
					  <strong>Oops!</strong> No Transactions available for this session
				</div>
                                <div id="transaction-root" ng-if="call_transaction">

					<!-- leaflet maps -->
					   <div style="height:252px;" ng-if="leaflet">	
						<div class="col-xs-12" style="height:250px;"> 
						    <leaflet id="map-marker" markers="markers" center="leaflet" defaults="defaults"
							 lf-center="leaflet" width="100%" height="100%"></leaflet>
						</div>
					   </div>
					<div ng-repeat="trans in call_transaction" id="trans-{{::$id}}">
					<br>
					 <div class="panel panel-default">
					    <div class="panel-heading">
						<center><span style="font-size:15px;"> Call-ID: {{trans.callid}} </span></center>
					      <div class="panel-body header-action-area" 
							style="width:100%;padding-bottom:18px !important;padding-top:18px !important;">

							<div class="row" style="font-size:9px;">
						          <div class="col-xs-1"><span class="align-left" style="font-size:9px">type</span></div>
						          <div class="col-xs-1"><span class="align-left" style="font-size:9px">duration</span></div>
						          <div class="col-xs-3"><span class="align-left" style="font-size:9px">from</span></div>
						          <div class="col-xs-3"><span class="align-left" style="font-size:9px">ruri</span></div>
						          <div class="col-xs-2"><span class="align-left" style="font-size:9px">src ip:port</span></div>
						          <div class="col-xs-2"><span class="align-left" style="font-size:9px">dst ip:port</span></div>
							</div>
						        <div class="row" style="font-size:15px;">
						          <div class="col-xs-1">{{ trans.transaction }}</div>
						          <div class="col-xs-1">{{ trans.duration }}</div>
						          <div class="col-xs-3">{{ trans.from_user }}@{{ trans.from_domain }} </div>
						          <div class="col-xs-3">{{ trans.ruri_user ? trans.ruri_user : trans.to_user}}@{{ trans.ruri_domain ? trans.ruri_domain : trans.to_domain }} </div>
						          <div class="col-xs-2">{{ ip_alias[trans.source_ip+":"+trans.source_port] || ip_alias[trans.source_ip] || trans.source_ip }}:{{ trans.source_port }} </div>
						          <div class="col-xs-2">{{ ip_alias[trans.destination_ip+":"+trans.destination_port] || ip_alias[trans.destination_ip] || trans.destination_ip }}:{{ trans.destination_port }}</div>
						        </div> 
					      </div>
					    </div>
					<!-- VQR ROWS -->
					    <div class="pull-center day" style="padding-left:2%;background-color:{{trans.vqr_a.col ? trans.vqr_a.col : '#9F9F9F' }};color: #ffffff;" 
							ng-hide="xtrans.vqr_a" 
							ng-style="trans.vqr_a.mos <= 2 && {'background-color':'red'} ||
									trans.vqr_a.mos <= 3 && {'background-color':'orange'} ||
									trans.vqr_a.mos > 3 && {'background-color':'green'}">	

						<div class="row">
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">A-Leg</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">mos</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">rfactor</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">lost</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">jitter</span></div>
						        <div class="col-xs-2"><span class="align-left" style="font-size:9px">sdp ip</span></div>
						        <div class="col-xs-2"><span class="align-left" style="font-size:9px">origin</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">ports</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">codecs</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">source</span></div>
						</div>
					       <div class="row" style="font-size:15px;padding-bottom:8px;">
       					 		<div class="col-xs-1" ng-show="trans.vqr_a.mos > 3"><i class="fa fa-heartbeat fa-1x" ng-class="trans.vqr_a.mos < 5 ? 'bump' : '' "></i></div>
       					 		<div class="col-xs-1" ng-show="trans.vqr_a.mos <= 3"><i class="fa fa-ambulance fa-1x bump"></i></div>
       					 		<div class="col-xs-1" ng-show="!trans.vqr_a.mos"><i class="fa fa-question fa-1x"></i></div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_a.mos ? trans.vqr_a.mos : '' }}</div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_a.rf  ? trans.vqr_a.rf : ''}}</div>
						        <div class="col-xs-1">{{ trans.vqr_a.pl || '' }}</div>
						        <div class="col-xs-1">{{ trans.vqr_a.jt || '' }}</div>
						        <div class="col-xs-2">{{ trans.sdp[0].mediaIpAudio ? trans.sdp[0].mediaIpAudio : trans.sdmedia_ip }}</div>
						        <div class="col-xs-2">{{ trans.sdp[0].sdpOrigin ? trans.sdp[0].sdpOrigin : 'unknown' }}</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[0].audioObject"><span class="fa fa-sign-in"> {{ trans.sdp[0].mediaPortAudio ? trans.sdp[0].mediaPortAudio : trans.sdp_ap  }}</div>
								<div ng-show="trans.sdp[0].videoObject"><span class="fa fa-sign-in"> {{ trans.sdp[0].mediaPortVideo ? trans.sdp[0].mediaPortVideo : trans.sdp_ap }}</div>
							</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[0].audioObject"><span class="fa fa-volume-up"> {{ trans.sdp[0].audioCodec }}</div>
								<div ng-show="trans.sdp[0].videoObject"><span class="fa fa-video-camera"> {{ trans.sdp[0].videoCodec }}</div>
							</div>
						        <div class="col-xs-1">RTCP</div>
						        <div class="col-xs-12">{{trans.source_uac}}</div>
						</div>
					   </div>


					   <div class="pull-center day" style="padding-left:2%;background-color:{{trans.vqr_b.col ? trans.vqr_b.col : '#87CEEB' }};color: #ffffff;" ng-show="trans.vqr_b"
							ng-style="trans.vqr_b.mos <= 2 && {'background-color':'red'} ||
									trans.vqr_b.mos <= 3 && {'background-color':'orange'} ||
									trans.vqr_b.mos > 3 && {'background-color':'green'}" >	

						<div class="row">
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">B-Leg</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">mos</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">rfactor</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">lost</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">jitter</span></div>
						        <div class="col-xs-2"><span class="align-left" style="font-size:9px">sdp ip</span></div>
						        <div class="col-xs-2"><span class="align-left" style="font-size:9px">origin</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">ports</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">codecs</span></div>
						        <div class="col-xs-1"><span class="align-left" style="font-size:9px">source</span></div>
						</div>
					<!-- audio only -->
					       <div class="row" style="font-size:15px;padding-bottom:8px;" ng-hide="trans.sdp[2]">
       					 		<div class="col-xs-1" ng-show="trans.vqr_b.mos > 3"><i class="fa fa-heartbeat fa-1x" ng-class="trans.vqr_a.mos < 5 ? 'bump' : ''"></i></div>
       					 		<div class="col-xs-1" ng-show="trans.vqr_b.mos <= 3"><i class="fa fa-ambulance fa-1x bump"></i></div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_b.mos}}</div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_b.rf > 0 ? trans.vqr_b.rf : 'N/A'}}</div>
						        <div class="col-xs-1">{{ trans.vqr_b.pl}}</div>
						        <div class="col-xs-1">{{ trans.vqr_b.jt}}</div>
						        <div class="col-xs-2">{{ trans.sdp[1].mediaIpAudio ? trans.sdp[1].mediaIpAudio : "0.0.0.0" }}</div>
						        <div class="col-xs-2">{{ trans.sdp[1].sdpOrigin }}</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[1].audioObject"><span class="fa fa-sign-in"> {{ trans.sdp[1].mediaPortAudio }}</div>
								<div ng-show="trans.sdp[1].videoObject"><span class="fa fa-sign-in"> {{ trans.sdp[1].mediaPortVideo }}</div>
							</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[1].audioObject"><span class="fa fa-volume-up"> {{ trans.sdp[1].audioCodec }}</div>
								<div ng-show="trans.sdp[1].videoObject"><span class="fa fa-video-camera"> {{ trans.sdp[1].videoCodec }}</div>
							</div>
						        <div class="col-xs-1">RTCP</div>
						        <div class="col-xs-12">{{trans.destination_uac}}</div>

						</div>
					<!-- video legs -->
					        <div class="row" style="font-size:15px;padding-bottom:8px;" ng-show="trans.sdp[2]">
       					 		<div class="col-xs-1" ng-show="trans.vqr_b.mos > 3"><i class="fa fa-heartbeat fa-1x" ng-class="trans.vqr_a.mos < 5 ? 'bump' : ''"></i></div>
       					 		<div class="col-xs-1" ng-show="trans.vqr_b.mos <= 3"><i class="fa fa-ambulance fa-1x bump"></i></div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_b.mos}}</div>
						        <div class="col-xs-1"><span class="align-left">{{ trans.vqr_b.rf}}</div>
						        <div class="col-xs-1">{{ trans.vqr_b.pl}}</div>
						        <div class="col-xs-1">{{ trans.vqr_b.jt}}</div>
						        <div class="col-xs-2">{{ trans.sdp[2].mediaIpAudio ? trans.sdp[2].mediaIpAudio : "0.0.0.0" }}</div>
						        <div class="col-xs-2">{{ trans.sdp[2].sdpOrigin }}</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[2].audioObject"><span class="fa fa-sign-in"> {{ trans.sdp[2].mediaPortAudio }}</div>
								<div ng-show="trans.sdp[2].videoObject"><span class="fa fa-sign-in"> {{ trans.sdp[2].mediaPortVideo }}</div>
							</div>
						        <div class="col-xs-1">
								<div ng-show="trans.sdp[2].audioObject"><span class="fa fa-volume-up"> {{ trans.sdp[2].audioCodec }}</div>
								<div ng-show="trans.sdp[2].videoObject"><span class="fa fa-video-camera"> {{ trans.sdp[2].videoCodec }}</div>
							</div>
						        <div class="col-xs-1">RTCP</div>
						</div> 


					   </div>


						<!-- RTP REPORTS -->
 						<div ng-show="qosColumns">
		                                        <table st-table="displayedCollection" class="table table-striped ng-isolate-scope" style="table-layout: flex;">
		                                          <thead style="overflow: hidden;">
		                                                    <tr>
		                                                        <th ng-repeat="col in qosColumns" style="font-size:10px;" ng-hide="qosBlacklist(col)">
		                                                              {{col}}
		                                                        </th>
		                                                    </tr>
		                                            </thead>
		                                            <tbody ng-repeat="(qk,qv) in qosReport">
		                                                    <tr ng-repeat="(qid,qp) in qv" ng-class-odd="'shark0'" ng-class-even="'shark1'" style="overflow:hidden;">
		                                                             <td ng-repeat="(col,qitem) in qp" ng-hide="qosBlacklist(col)"
										ng-style="col=='MIN_MOS' && (qitem <= 2 && {'color':'red'} ||
											qitem <= 3 && {'color':'orange'} ||
											qitem > 3 && {'color':'green'})" >	

		                                                                {{ qitem }}
		                                                             </td>
		                                                    </tr>
		                                           </tbody>
		                                        </table>
		                                </div>




					   <!-- START Doctor -->
					   <div class="pull-center day" style="padding-left:2%;background-color:red;color: #ffffff;" ng-show="doctor.auth > (doctor.two+doctor.ring)">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-exclamation-circle fa-2x bump"></i></div>
						        <div class="col-xs-4"><span class="align-left">SUSPECT BEHAVIOUR: {{ trans.uas }} </div>
						        <div class="col-xs-2"><span class="align-left">ACTIONS:</div>
						        <div class="col-xs-4"><span class="align-left">Investigate Auth Failures ({{ doctor.auth }})</div>
						</div>
					   </div>
					   <div class="pull-center day" style="padding-left:2%;background-color:red;color: #ffffff;" ng-show="doctor.five > doctor.two">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-exclamation-circle fa-2x bump"></i></div>
						        <div class="col-xs-4"><span class="align-left">SUSPECT MALFUNCTION: {{ trans.destination_ip }} </div>
						        <div class="col-xs-2"><span class="align-left">ACTIONS:</div>
						        <div class="col-xs-4"><span class="align-left">Check Services running on {{ trans.destination_ip}}:{{ trans.destination_port }}</div>
						</div>
					   </div>
					   <div class="pull-center day" style="padding-left:2%;background-color:orange;color: #ffffff;" 
							ng-show="trans.sdp[0].mediaPortAudio == 0 || trans.sdp[1].mediaPortAudio == 0">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-warning fa-1x"></i></div>
						        <div class="col-xs-4"><span class="align-left">SUSPECT ONE-WAY AUDIO </div>
						</div>
					   </div>
					   <div class="pull-center day" style="padding-left:2%;background-color:orange;color: #ffffff;" 
							ng-show="trans.sdp[0].mediaPortVideo == 0 || trans.sdp[2].mediaPortVideo == 0">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-warning fa-1x"></i></div>
						        <div class="col-xs-4"><span class="align-left">SUSPECT ONE-WAY VIDEO </div>
						</div>
					   </div>

					   <div class="pull-center day" style="padding-left:2%;background-color:orange;color: #ffffff;" 
							ng-show="angular.equals(trans.sdp[0].videoCodec, trans.sdp[2].videoCodec)">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-warning fa-1x"></i></div>
						        <div class="col-xs-4"><span class="align-left">VIDEO CODEC MISMATCH </div>
						</div>
					   </div>
					   <div class="pull-center day" style="padding-left:2%;background-color:orange;color: #ffffff;" 
							ng-show="angular.equals(trans.sdp[0].audioCodec,trans.sdp[1].audioCodec)">	
					       	<div class="row" style="font-size:15px;padding:8px;">
       					 		<div class="col-xs-1"><i class="fa fa-warning fa-1x bump"></i></div>
						        <div class="col-xs-4"><span class="align-left">AUDIO CODEC MISMATCH </div>
						</div>
					   </div>

					<!-- END doctor -->
					</div>
					<br>
					</div>
                                </div>                                            

