<!-- INCLUDE: EXPORT TAB -->
<div class="export-title">Export Session Data</div>
  <div style="margin-left:auto;margin-right:auto;width:60%;" id="export_tab">
    <!-- FLEXBOX -->
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <!-- COLUMN 1 -->
      <div style="width: 32%;padding: 10px;">
        <button
          class="btn btn-normal btn-export btn-info btn-export_blue"
          ng-click="$ctrl.exportPCAP()"
          data-placement="top-right"
          style="margin-top:18px;;margin-left:8px;width:18%;">
          <i class="fa fa-file-code-o" aria-hidden="true"></i>
          <span> Export PCAP</span>
        </button>
        <!-- Export PCAP Text -->
        <button
          class="btn btn-normal btn-export btn-danger btn-export_blue"
          ng-click="$ctrl.exportTEXT()"
          data-placement="top-right"
          style="margin-top:18px;;margin-left:8px;width:18%;">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <span>Export TEXT</span>
        </button>
    </div>
    <!-- COLUMN 3 -->
    <div style="width: 32%;padding: 10px;">
      <!-- Cloudshark -->
      <button
        ng-hide="$ctrl.sharecloud"
        ng-disabled="true"
        class="btn btn-normal btn-export btn-info btn-export_green"
        ng-click="$ctrl.exportCloud()"
        data-placement="top-right"
        style="margin-top:18px;;margin-left:8px;width:18%;">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        <span>Share Cloud</span>
      </button>
      <!-- share link -->
      <button
        ng-if="!$ctrl.shareLinkDisabled"
        ng-disabled="true"
        class="btn btn-normal btn-export btn-info btn-export_green"
        ng-click="$ctrl.exportShare()"
        data-placement="top-right"
        style="margin-top:18px;;margin-left:8px;width:18%;">
        <i class="fa fa-share-alt"></i>
        <span>Share Link</span>
      </button>
    </div>
  </div>
</div>
