.clock-widget .widget-clock {
    height: 50%;
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
}

.clock-widget .box-content {
    color: grey;
    text-align: center;
}
