<div data-role="page" id="page1">
  <div data-role="header">
     <div class="btn-group btn-group-justified" role="group" aria-label="..."  ng-repeat="block in callDetailQos._stats">
      <div class="btn-group" role="group" ng-repeat="k,v in block">
        <button  class="btn btn-primary" type="button">
          {{k}} <span class="badge">{{v}}</span>
        </button> 
      </div>
    </div>
  </div>
  <div role="main" class="ui-content">
    <nvd3 id="qosTabChart" options="callDetailQos.chartOptions" data="callDetailQos.reportData"></nvd3>
  </div>
</div>
