<div>
    <form name="_form" class="form-horizontal">
        <div class="modal-header">
            <h4 class="modal-title">Widget Settings</h4>
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
		<form id='widget_settings' name='wsettings'>
		    <p>
		        <label for=widgetTitle>Panel Title</label>
       	        		<input type=text class=form-control id=widgetTitle ng-model="config.title" placeholder="Enter title" required>
		    </p><p>
			<label style="display:block; margin-bottom:10px;">Search Button: <input type="checkbox" ng-model="config.searchbutton"/><span><i class="fa fa-check"></i></span></label>
			<button ng-click="addField()" class="btn btn-default">Add Form Field</button>
		    <p/>
			<div ng-repeat="field in config.fields" style="display: inline-block; vertical-align: top;">
				<div hep-display="field.selection" hep-name="field.name" hep-headers="headers" style="display:inline-block;"></div>
				<i class="fa fa-trash-o fa-custom" ng-click="removeField($index);" style="display: inline-block;margin-right:10px;margin-top:3px;"><span class="drop-down-wid__del">Delete</span></i>
				<div style="clear:none;" ng-if="($index % 4)"/>
			</div>
		    <p><br></p>
		</form>			
        </div>

        <div class="modal-footer">
            <button ng-click="dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
            <button ng-click="save()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>

