<!-- INCLUDE: BLACKLIST TAB -->
<div id="no-reports" ng-hide="$ctrl.enable" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><img src="/img/Close.svg" alt=""></button>
  <strong>Oops!</strong> No Blacklist available for this session
</div>
<div id="blacklist-root" ng-if="$ctrl.enable" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">
  <div class="box-body">
    <ul class="timeline" id="timeline" ng-repeat="hit in $ctrl.blacklistreport.results">
      <li>
        <i class="fa fa-shield bg-blue"></i>                        
        <div class="timeline-item">
          <span class="time" title="{{ hit.created }}">
          <i class="fa fa-clock-o"></i> <time class="timesince" datetime="{{ hit.modified}}">{{ hit.created }}</time>
          </span>                            
          <h4 class="timeline-header no-border"> {{ hit.title }} 
            <small>
            <a ng-show="hit.details_url" href="{{hit.details_url}}" target="_blank">{{ hit.tag }}</a>
            <span ng-show="!hit.details_url">{{ hit.tag }}</span>
            </small>
          </h4>
        </div>
      </li>
    </ul>
    <div style="margin-left:1%;">                        
      <button class="btn no-border ng-binding">{{ $ctrl.blacklistreport.ip }}</button>
    </div>
  </div>
</div>
