<div class="a-widget-settings">
  <form name="_form" class="form-horizontal" ng-submit="$ctrl.submit(_form)">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
      <h3>Settings</h3>
    </div> <!-- END modal-header -->

    <div class="modal-body">
      <uib-tabset>
        <uib-tab heading="Data Metrics">
          <div class="row">
            <div class="input-group" style="width:50%">
              <div
                  ng-repeat="metric in $ctrl.metrics"
                  class="form-group metrics-select">
                <label>
                  {{metric}}
                  <input
                      type="checkbox"
                      ng-checked="$ctrl.config.selectedMetrics.indexOf(metric) > -1"
                      value="{{metric}}"
                      name="selectedMetrics[]"
                      ng-click="$ctrl.toggleSelection(metric)">
                  <span>
                    <i class="fa fa-check">
                    </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Chart settings">
          <div class="row">
            <div class="input-group" style="width:50%">
              <label for="max_chart_length">
                Maximum chart length
              </label>
              <input
                  ng-model="$ctrl.config.maxChartLength"
                  id="max_chart_length"
                  type="number">
            </div>
          </div>
        </uib-tab>

      </uib-tabset>

    </div> <!-- END modal-body-->

    <div class="modal-footer">
      <button ng-click="$ctrl.dismiss()" class="btn btn-lg"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
      <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
    </div> <!-- END modal-footer -->
  </form>
</div>
