<div class="protosearch-widget-settings">
  <form name="_form" class="form-horizontal" ng-submit="$ctrl.submit(_form)">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
      <h3>Settings</h3>
    </div> <!-- END modal-header -->

    <div class="modal-body">
      <p>
        <label for=widgetTitle>Panel Title</label>
        <input type=text class=form-control id=widgetTitle ng-model="$ctrl.widget.config.title" placeholder="Enter title"
          required>
      </p>
      <p>
        <label style="display:block;margin-bottom:10px;line-height: 22px;">Search Button: 
          <input type="checkbox" ng-model="$ctrl.widget.config.searchbutton"/><span><i class="fa fa-check"></i></span>
        </label>
        <div class="input-group">
		<span class="input-label">Proto </span>
                <label class="select-wr" for="proto">
                	<i class="fa  fa-angle-down  select-ico"></i>
                        <select ng-options="opt.name for opt in $ctrl.protoData track by opt.value" ng-change="$ctrl.onProtoSelect()" ng-model="$ctrl.widget.config.protocol_id"></select>
                </label>
        </div>     
	<div class="input-group">
        	<span class="input-label">Profile </span>
                <label class="select-wr" for="protocol_profile">
                	<i class="fa  fa-angle-down  select-ico"></i>
                        <select ng-options="opt.name for opt in $ctrl.profileData track by opt.value" ng-change="$ctrl.onProfileSelect()" ng-model="$ctrl.widget.config.protocol_profile"></select> 
                </label>
        </div>
      </p>

      <div class="row">
        <div class="col-sm-3">
	        <button type="button" ng-click="$ctrl.addField()" class="btn btn-default">Add Form Field</button>
	</div>
	<div class="col-sm-6">

      		<div ng-repeat="field in $ctrl.widget.fields" style="display: inline-block; vertical-align: top;">
      		  <div field-proto-display="field.selection" 
      		  	field-proto-name="field.name" field-proto-headers="$ctrl.headers" 
      		  	field-proto-form-type="field.form_type" 
      		  	field-proto-type="field.type" 
      		  	field-proto-hepid="field.hepid" 
      		  	field-proto-hep-profile="field.profile" 
      		  	field-proto-field-name="field.field_name"  style="display:inline-block;">
      		  </div>
      		  <i class="fa fa-trash-o fa-custom" ng-click="$ctrl.removeField($index);"
      		    style="display: inline-block;margin-right:10px;margin-top:8px;font-size:20px;">
      		      <!-- <span class="drop-down-wid__del">Delete</span> -->
      		  </i>
      		  <div style="clear:none;" ng-if="($index % 4)">
      		  </div>
      		</div>
	</div>
      </div>
    </div> <!-- END modal-body-->

    <div class="modal-footer">
      <button ng-click="$ctrl.dismiss()" class="btn btn-lg"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
      <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
    </div> <!-- END modal-footer -->
  </form>
</div>


