<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
    <div class="row">
      <div class="col-lg-2 col-sm-2">
        <h3 class="setting__main-title">
          <button type="button" ng-click="$ctrl.addAdvanced();" class="btn btn-primary " ng-disabled="false">
          <i class="fa fa-plus"></i> Add
          </button>  
        </h3>
      </div>
      <div class="col-lg-10 col-sm-10">
        <h3 class="setting__main-title">Advanced Settings</h3>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
      </div>
      <div class="row nd-row-bord">
        <table st-table="$ctrl.globasettings" class="table table-striped ng-isolate-scope">
          <thead>
            <tr>
              <th width="18%" st-sort-default="true" st-sort="partid">Partid</th>
              <th width="18%" st-sort-default="true" st-sort="category">Category</th>
              <th width="18%" st-sort-default="true" st-sort="param">Param</th>
              <th width="30%" st-sort-default="true" st-sort="data">Data</th>
              <th width="10%">Action</th>
            </tr>
            <tr>
              <th colspan="10"><input st-search="" class="form-control" placeholder="advanced search ..." type="text"/></th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="settings in $ctrl.globasettings">
              <td width="18%">{{settings.partid}}</td>
              <td width="18%">{{settings.category}}</td>
              <td width="18%">{{settings.param}}</td>
              <td width="30%">{{settings.data}}</td>
              <td width="10%">
                <button type="button" ng-click="$ctrl.editSettings(settings, $event)" class="btn-sm btn-info">
                <i class="glyphicon glyphicon-wrench"></i>
                </button>
                <button type="button" ng-click="$ctrl.deleteSettings(settings)" class="btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div
                  st-pagination="$ctrl.smartTable.options.pagination"
                  st-items-by-page="$ctrl.smartTable.options.items_by_page"
                  st-displayed-pages="$ctrl.smartTable.displayed_pages"
                ></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </form>
</div>
