<div>
  <form name="_form" class="form-horizontal">
    <div class="modal-header">
      <h4 class="modal-title">Widget Settings</h4>
      <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <uib-tabset>
      <uib-tab heading="Data Metrics">
        <div class="row">
          <div class="modal-filter-inputs col-md-12">
            <div class="input-group">
              <label for="widgetTitle" class="input-label">Chart Title</label>
              <input type="text" class=form-control id="widgetTitle" ng-model="$ctrl._config.title" placeholder="Enter title" required data-inline="true">
            </div>
            <div class="input-group" style="width:20%">
              <label for="widgetChartType" class="input-label">Chart Type</label>
              <div class="select-wr">
                <!-- <i class="fa  fa-angle-down  select-ico"></i> -->
                <select ng-options="opt as opt.label for opt in $ctrl.charts track by opt.value " ng-model="$ctrl._config.chart.type" 
                  class="form-control" 
                  ng-init="$ctrl._config.chart.type=$ctrl._config.chart.type||{value:'line'}"
                  ng-change="$ctrl.selectType()"></select>
              </div>
            </div>
            <div class="input-group" style="width:20%">
              <label for="widgetChartType" class="input-label">Format</label>
              <div class="select-wr">
                <select ng-options="opt as opt.label for opt in $ctrl.dataformats track by opt.value " 
                  ng-model="$ctrl._config.format" 
                  class="form-control"></select>
              </div>
            </div>
          </div>
          <!-- <h3 class="modal-body-title">Data Source</h3> -->
          <div class="modal-filter-inputs col-md-12">
            <div class="input-group" style="width:20%">
              <label for="widgetMetricsDatasources" class="input-label">Panel Datasource</label>
              <div class="select-wr">
                <select id="widgetMetricsDatasources" ng-change="$ctrl.panelDataSourceSelection()"
                  ng-options="source as source.name for source in $ctrl.metricsdatasources track by source.name " 
                  ng-init="$ctrl.panel.metricsdatasource = $ctrl.panel.metricsdatasource || $ctrl.metricsdatasource[0]" 
                  ng-model="$ctrl.panel.metricsdatasource" 
                  class="form-control" 
                  required>
                </select>
              </div>
            </div>
            <div class="input-group" style="width:20%">
              <label for="widgetMetricsDatasources" class="input-label">Database</label>
              <div class="select-wr">
                <select id="widgetMetricsDatasources" ng-change="$ctrl.panelDataBaseSelection()" 
                  ng-options="source as source.name for source in $ctrl.metricdatabases track by source.name " 
                  ng-init="$ctrl.panel.metricdatabase = $ctrl.panel.metricdatabase || $ctrl.metricdatabase[0]" 
                  ng-model="$ctrl.panel.metricdatabase" 
                  class="form-control" 
                  required>
                </select>
              </div>
            </div>
            <!-- Retention Policy -->
            <div class="input-group" style="width:20%">
              <label for="widgetMetricsRetentionPolicies" class="input-label">Retention Policy</label>
              <div class="select-wr">
                <select id="widgetMetricsRetentionPolicies" ng-change="$ctrl.reset()" 
                  ng-options="source as source.name for source in $ctrl.retentionpolices track by source.name " 
                  ng-init="$ctrl.panel.retentionpolicy = $ctrl.panel.retentionpolicy || $ctrl.retentionpolices[0]" 
                  ng-model="$ctrl.panel.retentionpolicy" 
                  class="form-control" 
                  required>
                </select>
              </div>
            </div>
            <div class="input-group">
              <div class="modal-filter-inputs-btn-wr">
                <button class="btn btn-default" type='button' ng-click="$ctrl.addQuery()">Add</button>
              </div>
            </div>
          </div>
          <div class="modal-filter-inputs col-md-12">
          </div>
        </div>
        <div class="row">
          <h3 class="modal-body-title  wihout-border">Query</h3>
          <div class="col-md-12">
            <div class="row">
              <table class="table table-hover">
                <tbody>
                  <tr ng-repeat="query in $ctrl._config.panel.queries">
                    <td class="text-center">{{query.name}}</td>
                    <td class="text-center">{{query.type.name}}</td>
                    <td class="text-center">{{query.database.name}}</td>
                    <td class="text-center" ng-model="query.retention.name">{{query.retention.name}}</td>
                    <td class="text-center">
                      <i style="width:20px;color:green;" ng-hide="!$ctrl._config.dataquery.data[$index]['main']" class="edit-ico fa fa-check" aria-hidden="true"></i>
                      <a ng-click="$ctrl.editQuery($index)" alt="Missing Configuration"><i style="width:20px;color:yellow;" ng-hide="$ctrl._config.dataquery.data[$index]['main']" class="edit-ico fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                      <a ng-click="$ctrl.removeQuery($index)"><i class="remove-ico fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;
                      <a ng-click="$ctrl.editQuery($index)"><i class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="queryExpert" class="modal-sub-tabs" ng-show="$ctrl.displayQuery">
          <uib-tabset>
            <uib-tab heading="Fields">
              <div ng-if="$ctrl.dataAlias == 'influxdb'" class="row">
                <div class="col-md-12">
                  <div class="row">
                    <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td class="text-center col-md-2">Measurement</td>
                          <td class="text-center col-md-10" colspan="3">
                            <div class="select-wr">
                              <select placeholder="Select ..."
                                id="widgetMetricsTag" ng-change="$ctrl.checkMainSelection($ctrl.localindex)" 
                                ng-options="dat as dat.name for dat in $ctrl.myMeasurements track by dat.name " 
                                ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['main']" class="form-control" required>
                              </select>
                            </div>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="text-center col-md-2">Counter</td>
                          <td class="text-center col-md-10" colspan="3">
                            <div class="select-wr">
                              <ui-select multiple tagging="tagTransform" ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['type']" style="height: 50px;" theme="bootstrap" title="Select Counter">
                                <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="counter in $ctrl.myRemotedata  | propsFilter: {name: $select.search, value: $select.search}">
                                  <div ng-if="counter.isTag" ng-bind-html="(counter.name | highlight: $select.search) +' (new)'"></div>
                                  <div ng-if="!counter.isTag" ng-bind-html="counter.name + counter.isTag| highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="text-center col-md-2">Tag</td>
                          <td class="text-center col-md-10" colspan="3">
                            <div class="select-wr">
                              <select id="widgetMetricsTag" ng-change="$ctrl.checkTagSelection($ctrl.localindex)" ng-options="dat as dat.name for dat in $ctrl.myTypeTag track by dat.name " ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['typetag']" class="form-control" required></select>
                            </div>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="text-center col-md-2">Value</td>
                          <td class="text-center col-md-10" colspan="3">
                            <div class="select-wr">
                              <ui-select multiple tagging="tValueTransform" ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['tvalue']" style="height: 50px;" theme="bootstrap" title="Select Tag Value">
                                <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="tvalue in $ctrl.myValuedata  | propsFilter: {name: $select.search, value: $select.search}">
                                  <div ng-if="tvalue.isTag" ng-bind-html="(tvalue.name | highlight: $select.search) +' (new)'"></div>
                                  <div ng-if="!tvalue.isTag" ng-bind-html="tvalue.name + tvalue.isTag| highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>                        
                        <tr>
                          <td class="text-center col-md-2">Group</td>
                          <td class="text-center col-md-10" colspan="3">
                            <div class="select-wr">
                              <ui-select multiple tagging="tagTransform" ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['tag']" style="height: 50px;" theme="bootstrap" title="Select Group">
                                <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="counter in $ctrl.myGroupdata  | propsFilter: {name: $select.search, value: $select.search}">
                                  <div ng-if="counter.isTag" ng-bind-html="(counter.name | highlight: $select.search) +' (new)'"></div>
                                  <div ng-if="!counter.isTag" ng-bind-html="counter.name + counter.isTag| highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="text-center col-md-2">Sum</td>
                          <td class="text-center col-md-10" colspan="3">
                            <label for="sum" class="checkbox-label">                                                              
                            <input type="checkbox" ng-init="$ctrl._config.dataquery.data[$ctrl.localindex]['sum'] ? true : false" id="sum" name="sum" ng-model="$ctrl._config.dataquery.data[$ctrl.localindex]['sum']">
                            <span><i class="fa fa-check"></i></span>
                            </label>
                          </td>
                          <td class="text-center">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </uib-tab>
            <!-- EDIT: Suspend Debug & Query views -->
            <uib-tab heading="Query">
              <div id="queryTab">
                <div class="input-group">
                  <label for="path" class="input-label">API Query Path</label>
                  <input type="text" class="form-control" id="path" ng-model="$ctrl._config.path" ng-change="$ctrl.updateDebugUrl()" placeholder="Enter Path (call/function)">
                </div>
                <div class="input-group input-group--last">
                  <label for="query" class="input-label">API Query Value</label>
                  <textarea style="height: 200px;" class="form-control" id="query" ng-change="$ctrl.updateDebugUrl()" ng-model="$ctrl._config.query" placeholder="Query"></textarea>
                </div>
                <p ng-class="parsingColorClass" class="syntax-error">{{parsingStatus}}</p>
              </div>
            </uib-tab>
            <uib-tab heading="Debug">
              <label for="path" class="input-label">CURL Debug:</label>
              <div class="input-group">
                <textarea style="height: 100px;" class="form-control" id="debugquery" ng-model="$ctrl.debug" placeholder="Debug query"></textarea>
              </div>
              <div class="input-group">
                <label for="path" class="input-label">CURL Response:</label>
                <textarea style="height: 120px;" class="form-control" id="debugqueryresp" ng-model="$ctrl._config.debugresp" placeholder="Debug query response"></textarea>
              </div>
            </uib-tab>
        </div>
      </uib-tab>
      </uib-tabset>
    </div>
    <div class="modal-footer">
      <button ng-click="$ctrl.dismiss()" class="btn default"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
      <button ng-click="$ctrl.save()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
    </div>
  </form>
</div>
