  <div style="height:100% !important;">
    <div class="alert alert-info" ng-if="!d3Enabled && !flotEnabled">
      Please select a query from the widget configuration
    </div>
    <div ng-if="d3Enabled" style="height:100%;width:100%;">
	<nvd3 options="options" data="data" config="configD3" events="events" api="apiD3" on-ready="callbackD3"></nvd3> 
    </div>
    <div ng-if="flotEnabled" ng-style="{'height': '100%'}">
    	<!-- <div id="legend" style="width: 200px; height: 20px;"></div>	-->
	<flot dataset="flotData" options="flotOptions" width="chartWidth" on-plot-selected="handlePlotSelected(event, ranges)"></flot>	      
    </div>
  </div>


