<div class="modal-body" style="padding-left: 40px; padding-bottom: 40px;">
  <form role="form" name="myForm">
    <div class="row">
      <div class="col-lg-10 col-sm-10">
        <h3 class="setting__main-title">Users</h3>
        <div style="border-top: 1px solid rgba(151, 151, 151, 0.28); margin-bottom:25px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="row nd-row-bord">
        <smart-table-with-dynamic-options
          table-data="$ctrl.users"
          visible-cols-names="$ctrl.userCols"
          on-add-row="$ctrl.onAddUser({ row, guid })"
          on-delete-row="$ctrl.onDeleteUser({ row, guid })"
          on-edit-row="$ctrl.onEditUser({ row, guid })"
        ></smart-table-with-dynamic-options>
      </div>
    </div>
  </form>
</div>
