<div class="modal-header homer-modal-header nd-modal-header"
  style="border-bottom:0;background:{{ getCallIDColor(msgCallId).color }};" ng-dblclick="$ctrl.expandModal(this.id);EventBus.resizeNull();return;">
  <button type="button" class="close nd-close" data-dismiss="modal" aria-hidden="true" ng-click="$ctrl.closeModal()" ><img src="/img/Close.svg" alt=""></button>
  <button type="button" class="close nd-close nd-resize-full" data-dismiss="modal" aria-hidden="true" ng-click="$ctrl.expandModal(this.id);EventBus.resizeNull();" \>
    <span style="font-size: 16px; vertical-align: middle;"  class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
  </button>
  
  <h4 class="modal-title nd-modal-title"> [SIP] Call-ID: <i> {{msgCallId}} </i></h4> 
</div>

<div ng-show="dataLoading">
  <div id="loadingWidget" class="row-fluid ui-corner-all" style="text-align: center;position:absolute;left:50%;">
    <i class="fa fa-asterisk fa-spin fa-5x" style="color: #f4c20d;"></i>
    <i class="fa fa-gear fa-spin fa-5x" style="color:#3cba54; font-size: 172px;"></i>
    <i class="fa fa-asterisk fa-spin fa-5x" style="color: #db3236;"></i>
  </div>
</div>
  
<div class="modal-body homer-modal-body nd-homer-modal-body" style="height:90%;width:99%;">
  <div class="modal-body-buttons" ng-hide="dataLoading">
    <uib-tabset>
      <uib-tab ng-repeat="tab in tabs" select="tabExec()"  ng-show="{{ tab.ngshow }}">
        <uib-tab-heading><i class="{{ tab.icon }}"></i> {{ tab.heading }} </uib-tab-heading>	     	     
        <call-detail-messages ng-if="tab.heading === 'Messages'" call="call" callid="id" on-message="showMessage(data, event)"></call-detail-messages>
        <call-detail-flow ng-if="tab.heading === 'Flow'" call="call" callid="id" on-message="showMessage(data, event)"></call-detail-flow>
        <call-detail-export ng-if="tab.heading === 'Export'" data="data" msgcallid="msgCallId" transaction="call.transaction" cflowid="cflowid"></call-detail-export>
        <call-detail-media ng-if="tab.heading === 'Media Reports'"></call-detail-media>
        <call-detail-info ng-if="tab.heading === 'Call Info'" messages="call.messages" transaction="call.transaction"></call-detail-info>
        <call-detail-graph ng-if="tab.heading === 'IP Graph'"></call-detail-graph>
        <call-detail-timeline ng-if="tab.heading === 'Timeline'" uniqueips="uniqueIps" messages="call.messages" transaction="call.transaction"></call-detail-timeline>
        <call-detail-dtmf ng-if="tab.heading === 'DTMF'"></call-detail-dtmf>
        <call-detail-logs ng-if="tab.heading === 'Logs'"></call-detail-logs>
        <call-detail-logs-remote ng-if="tab.heading === 'Remote Logs'"></call-detail-logs-remote>
        <call-detail-recording ng-if="tab.heading === 'Recording'"></call-detail-recording>
        <call-detail-wss ng-if="tab.heading === 'WSS'"></call-detail-wss>
        <call-detail-blacklist ng-if="tab.heading === 'Blacklist'"></call-detail-blacklist>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
